.comparison {
  @include display();
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  padding: 22px 35px;

  &__head {
    @include display();
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__htop {
    @include display();
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  &__httbox {
    @include display();
    justify-content: start;
    gap: 7px;
  }

  &__htitbox {
    @include display();
    gap: 3px;
    justify-content: space-between;
  }

  &__htitsl {
    position: relative;
    left: -7px;
    font-size: 40px;
    color: $secondary-color;
    opacity: 0.6;
  }

  &__htbot {
    @include display();
    text-wrap: nowrap;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: end;
    flex-grow: 1;
  }

  &__htit {
    @include inter();
    @include hoverLink();
    position: relative;
    left: -7px;
    font-weight: 400;
    color: $text-color;
    font-size: 30px;
  }

  &__htitsp {
    @include inter();
    @include display();
    gap: 4px;
    position: relative;
    top: 3px;
    font-size: 20px;
    font-weight: 300;
    color: $secondary-color;
    margin-right: 5px;
  }

  &__htittr {
    position: relative;
    top: 0px;
    width: 16px;
    box-shadow: 0px 0px 10px -3px #a371f7;
    background-color: #a271f733;
    border-radius: 50px;
    opacity: 0.6;
  }

  .target-purple {
    animation-name: targetPurple;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes targetPurple {
    0% {
      box-shadow: 0px 0px 0px 0px transparent;
      background-color: transparent;
    }
    50% {
      box-shadow: 0px 0px 10px -3px #a371f7;
      background-color: #a271f733;
    }
    80% {
      box-shadow: 0px 0px 15px -2px #a371f7;
      background-color: #a271f738;
    }
    100% {
      box-shadow: 0px 0px 15px -2px #a271f71c;
      background-color: #a271f70a;
    }
  }

  &__htitprim {
    @include jet();
    @include display();
    position: relative;
    top: 0px;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: rgba(163, 113, 247, 0.15);
    padding: 4px 6px;
    border: 1px solid $text-lightS;
    color: #a371f7;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 0 10px -6px rgba(247, 129, 102, 0.4);
  }

  &__htbtn {
    @include display();
    @include hoverCursor();
    // @include buttonShadow();
    gap: 5px;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: $text-color;
  }

  &__htbtn-cs {
    background-color: $feed-items;
    padding: 3px 8px 3px 1px !important;
    border: 1px solid $text-lightS;
    width: auto !important;
  }

  &__cbrgai-cs{
    @include buttonShadow();
  }

  &__htbt-i {
    position: relative;
    top: 1px;
    left: 1px;
    width: 25px;
    padding: 4px 5px;
    height: 100%;
  }

  &__hbot {
    @include display();
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__hbotbxes {
    @include display();
    gap: 2px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
  }

  &__htbxtxt {
    @include inter();
    @include hoverCursor();
    @include display();
    font-size: 12px;
    color: $secondary-color;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    font-weight: 400;
    gap: 5px;
    max-width: 150px;
    white-space: nowrap;
    opacity: 1;
  }
  &__htbtxtmain {
    border: 1px solid $blue-border-text;
    margin-right: 5px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 5px -1px $text-lightS;
    color: $text-color;
  }

  &__htbxtxtsp {
    display: inline-block; // Yoki block
    vertical-align: middle;
    font-weight: 500;
    color: $text-color;
    opacity: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 0; // Flex ichida ishlashi uchun qo'shimcha sug'urta
  }

  &__center {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 28px 0px 0px 0px;
  }

  &__centabs {
    @include display();
    justify-content: space-between;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $blue-border-text;
    gap: 20px;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      right: 0px;
      bottom: 4px;
      box-shadow: 0px -20px 20px 15px transparent;
      opacity: 1;
    }
  }

  &__ctboxw {
    @include display();
    position: relative;
    justify-content: start;
    height: 45px;
    overflow: auto;
    align-items: end;
    overflow-y: hidden;
    padding: 0px 5px;
    flex-grow: 1;
    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  &__ctbwitems {
    @include hoverCursor();
    @include display();
    padding: 7px 23px 8px 15px;
    position: relative;
    @include inter();
    font-size: 13px;
    color: $text-color;
    border-radius: 5px 5px 0px 0px;
    gap: 7px;
    height: 100%;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    min-width: fit-content;
  }

  &__ctbwam {
    padding: 5px;
    background-color: $text-lightS;
    border-radius: 50px;
    font-size: 10px;

    width: 25px;
    height: 30px;
    font-size: 9px;
    font-weight: 500;
    height: 20px;
    padding: 4px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: start;
  }

  &__ctbwitemslc {
    border: 1px solid $blue-border-text !important;
    border-bottom: none !important;
    order: -1;
  }

  &__ctbwicon {
    width: 17px;
  }

  &__cenactions {
    @include display();
    width: 100%;
    padding: 19px 0px 16px 0px;
    border-bottom: 1px solid $blue-border-text;
  }

  &__cactbox {
    @include display();
    justify-content: start;
    gap: 15px;
    width: 100%;
  }

  &__cactbicn {
    @include hoverCursor();
    width: 28px;
    padding: 4px;
    background-color: $text-lightS;
    color: $secondary-color;
    border-radius: 8px;
  }

  &__bot {
    @include display();
    width: 100%;
    justify-content: start;
    align-items: start;
  }

  &__side {
    @include display();
    flex-direction: column;
    padding: 18px 20px 210px 0px;
    border-right: 1px solid $blue-border-text;
    min-height: 400px;
    justify-content: start;
    align-items: start;
    gap: 18px;
    max-width: 300px;
    height: 100%;
    max-height: 500px;
    position: relative;
  }

  &__sidebox {
    @include display();
    flex-direction: column;
    width: 100%;
    gap: 18px;
    // flex-grow: 1;
    height: 100%;
    justify-content: start;
    border-bottom: 1px solid $blue-border-text;
    padding: 0px 0px 10px 0px;
    max-height: fit-content

  }

  &__side-terminal {
    @include display();
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 20px;
    flex-direction: column;
    width: calc(100% - 20px);
    align-items: start;
    justify-content: start;
    // gap: 20px;
    padding: 0px 0px 10px 0px;
    background-color: $dash-side;
    border: 1px solid $text-lightS;
    max-height: 200px;
    // min-height: 200px;
    overflow: auto;
    border-radius: 10px 3.5px 3.4px 10px;

    &::-webkit-scrollbar {
      width: 6px; // Vertikal scroll kengligi
      height: 6px; // Gorizontal scroll balandligi (General Chart uchun)
    }

    /* Scrollbar yo'lakchasi (Track) */
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.096);
      border-radius: 10px;
    }

    /* Harakatlanuvchi qismi (Thumb) */
    &::-webkit-scrollbar-thumb {
      background: $border; // Default holatda ko'rinmasroq
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: background 0.3s ease;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  &__term-main {
    @include display();
    @include inter();
    font-size: 13px;
    color: $text-color;
    gap: 5px;
    align-items: start;
    white-space: nowrap;
    max-width: calc(100% - 15px);
    // background-color: red;
    justify-content: start;
    overflow: auto;
    margin-left: 13px;
    margin-top: 4px;
    // background-color: red;
    width: 100%;

    &::-webkit-scrollbar {
      width: 6px; // Vertikal scroll kengligi
      height: 6px; // Gorizontal scroll balandligi (General Chart uchun)
    }

    /* Scrollbar yo'lakchasi (Track) */
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.02);
      border-radius: 10px;
    }

    /* Harakatlanuvchi qismi (Thumb) */
    &::-webkit-scrollbar-thumb {
      background: $text-lightS; // Default holatda ko'rinmasroq
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: background 0.3s ease;

      /* Hover bo'lganda neon effekt (Bio-style) */
      &:hover {
        background: #28a745; // image_69c83f dagi yashil indikator rangi
        box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
      }
    }
  }

  &__term-tit {
    @include inter();
    font-size: 12px;
    color: $secondary-color;
    background-color: $dash-side;
    position: sticky;
    top: 0px;
    width: 100%;
    // background-color: $black;
    padding: 10px;
    z-index: 3;
    box-shadow: 0px -5px 10px 10px $dash-side;
    backdrop-filter: blur(10px);
    // background-color: red;
    height: 35px;
    
  }

  &__term-st {
    @include jet();
    color: $secondary-color;
    opacity: 0.6;
    font-size: 11px;
  }

  &__term-wr {
    @include display();
    position: relative;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    // max-height: 150px;
    // background-color: red;
    justify-content: start;
    // overflow: auto;
    padding: 10px 25px 10px 10px;
  }

  &__term-box {
    @include display();
    flex-direction: column;
    gap: 0px;
    align-items: start;
    padding: 0px 0px 0px 10px;
    border-left: 1px solid $text-lightS;
    width: 100%;
  }

  &__term-status {
    @include jet();
    color: $secondary-color;
    font-size: 10px;
  }
  &__term-st-pr-success {
    color: $dna-a;
  }
  &__term-st-pr-process {
    color: $dna-c;
  }
  &__term-st-pr-reject {
    color: $dna-t;
  }

  &__sidetop {
    @include display();
    gap: 10px;
  }

  &__sidetbtn {
    @include greenButtons();
    padding: 5px 7px;
    gap: 3px;
  }
  &__sidetbtn-i {
    position: relative;
    top: 1px;
    width: 13px;
  }

  &__sideicon {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 21px;
    padding: 3px;
    color: $secondary-color;
    opacity: 0.8;
  }

  &__sideform {
    position: relative;
  }

  &__sideinput {
    padding: 5px 4px 7px 28px;
    font-size: 14px;

    &::placeholder {
      color: $secondary-color;
      opacity: 0.6;
      font-size: 13px;
    }
  }

  &__scompcards {
    @include display();
    flex-direction: column;
    // align-items: ;
    width: 100%;
    overflow: auto;
    // flex-grow: 1;
    gap: 10px;
    height: auto;
    // background-color: red;
    padding: 0px 10px 0px 0px;
    justify-content: start;
    // min-height: 200px;
    &::-webkit-scrollbar {
      width: 6px; // Vertikal scroll kengligi
      height: 6px; // Gorizontal scroll balandligi (General Chart uchun)
    }

    /* Scrollbar yo'lakchasi (Track) */
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.096);
      border-radius: 10px;
    }

    /* Harakatlanuvchi qismi (Thumb) */
    &::-webkit-scrollbar-thumb {
      background: $border; // Default holatda ko'rinmasroq
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
      transition: background 0.3s ease;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
  &__scpcitems {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    max-width: 100%;
    text-wrap: nowrap;
    padding: 10px 13px;
    // overflow: auto;
    border-radius: 6px 0px 0px 6px;
    /* --- Global Scrollbar Design --- */
    // height: 300px !important;
    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  &__scpitems-txt{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    // width: 100px;
    overflow: hidden;
  }

  .scpcitemsslc {
    border-right: 3px solid #a371f7;
  }

  &__line {
    position: absolute;
    top: 43px;
    left: 25px;
    width: 11px;
    height: 265px;
    border: 1px solid $text-lightS;
    border-right: 1px solid transparent;
  }

  &__sidehead {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid $text-lightS;
    padding: 20px 15px;
  }

  &__sidehtit {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    font-weight: 800;
  }

  &__sidehext {
    @include hoverCursor();
    width: 35px;
    color: $text-color;
    opacity: 0.8;
    padding: 8px;
    border-radius: 8px;
  }

  &__sidehead {
    display: none;
  }

  &__htbtn-hactf {
    font-size: 12px;
    padding: 0px !important;
    gap: 0px;
  }

  &__hact-i {
    @include display();
    width: 26px;
    height: 26px;
    padding: 6px !important;
    opacity: 1 !important;
  }

  &__htopwr {
    @include display();
    flex-grow: 1;
    justify-content: start;
    gap: 10px;
    align-items: center;
  }

  &__htbtn-arb {
    @include display();
    width: 34px;
    padding: 5px 8px;
    border-left: 1px solid $blue-border-text;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
  }

  &__htbtn-arbwr {
    height: 100%;
  }

  &__h-actspbo {
    @include display();
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    padding: 3px 8px 3px 5px;
  }

  &__h-ctbwam {
    width: 25px;
    font-size: 9px;
    font-weight: 500;
    height: 20px;
    padding: 4px 2px 3px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: start;
    background-color: $feed-items;
    border-radius: 50px;
  }

  &__h-actspbo-txt {
    @include display();
    gap: 3px;
  }

  &__htbtn-more {
    display: none;
    position: static !important;
    width: auto !important;
    border-left: 1px solid $blue-border-text !important;
    border-radius: 0px 6px 6px 0px;
    padding: 5px 5px 5px 5px !important;
    & svg {
      position: relative;
      top: 1px;
      width: 15px !important;
    }
  }

  &__htbwrbox {
    @include display();
    gap: 4px;
  }

  &__hbtxt-match {
    color: #3fb950 !important;
  }

  &__hbtxt-snp {
    color: #d29922;
  }

  &__cactprcbo {
    @include display();
    gap: 15px;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ccprctxt {
    @include display();
    @include inter();
    gap: 4px;
    font-size: 13px;
    color: $secondary-color;
    font-weight: 300;
    flex-direction: column;
    align-items: start;
  }

  &__ccprctbar {
    @include display();
    justify-content: start;
    width: 100%;
    height: 2px;
    background-color: $blue-border-text;
    border-radius: 50px;
    opacity: 0.5;
  }

  &__ccprctsp {
    @include display();
    gap: 4px;
    color: $text-color;
    font-weight: 500;
  }

  &__ccprcdeg {
    color: $dna-a;
  }

  &__ccprcttop {
    @include display();
    gap: 4px;
  }

  &__ccprctline {
    width: 65%;
    height: 2px;
    background-color: $dna-a;
    border-radius: 50px;
    opacity: 1;
  }

  &__ccprcblf {
    @include display();
    gap: 10px;
  }

  &__ccprcengi {
    @include display();
    gap: 3px;
    @include inter();
    font-size: 13px;
    color: $secondary-color;
    font-weight: 300;
  }

  &__ccengimain {
    font-weight: 500;
    color: $text-color;
  }

  &__ccprcactsrarr {
    width: 24px;
  }

  &__ccprcactscdr {
    display: none;
  }

  &__ccprcactsrarr {
    display: none;
  }

  &__ccprcactengi-i {
    position: relative;
    top: 2px;
    width: 13px;
    display: none;
    color: $secondary-color;
    opacity: 0.7;
  }

  &__centbrg {
    @include display();
    gap: 10px;
  }

  &__cbrgai {
    @include display();
    padding: 5px 7px !important;
  }

  &__cbrgai-i {
    position: relative;
    top: 1px;
    left: 1px;
    width: 15px;
    color: #a371f7;
  }

  &__cbrgai-e{
    color: $text-color;
  }

  &__cbrgai-pthbut {
    @include greenButtons();
    gap: 6px;
    color: white;
    letter-spacing: -0.2px;
    border-radius: 6px;
  }


  &__charts {
    @include display();
    flex-grow: 1;
    padding: 18px 0px 18px 10px;
    justify-content: start;
    height: 100%;
    align-items: start;
  }

  &__charts-main{
    background-color: red;
    height: 100%;
    min-width: 60%;
    flex-grow: 1;
    height: 80vh;
  }

  &__charts-aifeed {
    height: fit-content;
    width: 40%;
    background-color: blue;
    max-width: 340px;
  }
}

@media (max-width: 1125px) {
  .comparison {
    padding: 0px;
    &__htit {
      font-size: 16px;
    }

    &__htitsl {
      font-size: 23px;
    }

    &__sidehead {
      display: flex;
    }

    &__side {
      box-shadow: 2px 8px 20px -3px $black;
      max-height: none;
      padding: 18px 0px 10px 0px;
    }

    &__side-terminal {
      position: static;
      width: 100%;
    }

    &__head,
    &__cenactions {
      padding: 15px 10px;
    }

    &__htitprim {
      font-size: 9px;
    }

    &__htitsp {
      font-size: 14px;
    }

    &__ctboxw {
      overflow: auto;
      overflow-y: hidden;
      flex-grow: 1;
      min-width: 100%;
      width: 0px;
      padding: 0px 10px;
      box-sizing: border-box;
      justify-content: start;
    }

    &__htitr {
      width: 14px;
    }

    &__side {
      position: fixed;
      top: 0px;
      left: 0px;
      min-height: 100vh;
      height: 100vh;
      z-index: 10;
      background-color: $main-color-bg;
      backdrop-filter: blur(10px);
      border-radius: 0px 15px 15px 0px;
    }

    &__sidetbtn {
      padding: 5px 9px;
    }

    &__sidetop {
      padding: 10px 15px;
    }

    &__scompcards {
      padding: 10px 20px 10px 15px;
    }

    &__htbtn {
      padding: 2px 3px;
      font-size: 12px;
    }

    &__htbt-i {
      width: 23px;
    }

    &__cactprcbo {
      flex-direction: column;
      align-items: end;
      justify-content: start;
    }

    &__ccprctscdr {
      display: none;
    }

    &__ccprcactengi-i {
      position: static;
      display: block;
    }

    &__ccengimain {
      font-size: 11px;
      font-weight: 300;
      letter-spacing: -1px;
    }

    &__centabs {
      flex-direction: column-reverse;
      align-items: end;
    }

    &__centbrg {
      padding: 0px 10px;
    }
  }
}

@media (max-width: 500px) {
  .comparison {
    &__htop {
      flex-direction: column;
      align-items: start;
    }

    &__centabs {
      &::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        right: 0px;
        bottom: 4px;
        box-shadow: 0px -20px 20px 30px $dash-side;
        opacity: 1;
      }
    }

    &__hbotbxes {
      flex-direction: column;
      gap: 0px;
    }

    &__httbox {
      width: 100%;
      padding: 14px;
      background-color: $main-color-bg;
      border-radius: 6px;
    }

    &__htopwr {
      width: 100%;
      flex-direction: column;
      align-items: end;
      justify-content: start;
      border-radius: 6px;
      padding: 14px 14px 4px 14px;
      background-color: $main-color-bg;
    }

    &__h-actspbo-txt {
      display: none;
    }

    &__h-actspbo {
      padding: 0px;
      border-radius: 5px;
    }

    &__htitsp {
      position: static;
    }

    &__htbtn {
      order: 2;
      margin-right: 4px;
      & svg {
        position: relative;
        left: 0px;
      }
      font-size: 14px;
      color: $text-color;
      height: 32px !important;
      width: auto;
    }

    &__htbt-i {
      width: 27px;
    }

    &__htbtn-cs {
      order: 0 !important;
      margin-left: 0px !important;
      padding: 5px !important;
      border: 1px solid rgba(240, 246, 252, 0.1) !important;
      opacity: 1;
      background-color: $bg-light-gray;
    }

    &__htbwrbox {
      flex-grow: 1;
      justify-content: start;
      flex-wrap: wrap;
      height: 32px;
      overflow: hidden;
      gap: 0px;
      &::-webkit-scrollbar {
        width: 10px; // Vertikal scroll kengligi
        height: 3px; // Gorizontal scroll balandligi
      }

      &::-webkit-scrollbar-thumb {
        background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
        border-radius: 10px; // Yumaloq shakl

        &:hover {
          background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
        }
      }

      &::-webkit-scrollbar-track {
        background: transparent; // Orqa fon shaffof bo'lgani ma'qul
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
    &__htbot {
      justify-content: start;
      flex-wrap: nowrap;
      padding: 0px 0px !important;
      gap: 0px;
      width: 100%;
    }

    &__htitprim {
      font-size: 8px !important;
      padding: 4px;
      letter-spacing: 0px;
      height: 23px;
    }

    &__hact-i {
      height: auto;
      width: 32px;
      padding: 8px !important;
    }

    &__htbtn-arb {
      display: none;
    }

    &__htbtn-hactf {
      order: 1 !important;
      padding: 0px !important;
      width: auto;
    }

    &__htittr {
      position: relative;
      top: 2px;
      width: 14px;
    }

    &__htitbox {
      @include display();
      flex-grow: 1;
      justify-content: start;
    }

    &__htitsl {
      position: static;
      font-size: 24px;
    }
    &__htit {
      position: static;
      font-size: 13px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 10px;
      flex-grow: 1;
      max-width: fit-content;
    }

    &__htbxtxt {
      width: 100% !important;
      flex-grow: 1;
      max-width: none;
      justify-content: space-between;
      border-radius: 0px;
      border-bottom: 1px solid $text-lightS;
    }

    &__htbtxtmain {
      border: none;
      margin-right: 0px;
      border-bottom: 1px solid $text-lightS;
    }

    &__ccprcactscdr {
      display: block;
    }

    &__ccprcactsrarr {
      display: block;
    }

    &__ccprcstp {
      display: none;
    }

    &__ccprcact {
      display: none;
    }

    &__ccprctstpmain {
      display: none !important;
    }

    &__ccprctbar {
      display: none;
    }

    &__ccprcttop {
      background-color: $bg-light-gray;
      padding: 2px 4px;
      border-radius: 6px;
      border: 1px solid rgba(240, 246, 252, 0.1);
      @include grayButtonsHover();
    }

    &__cactprcbo {
      gap: 4px;
    }

    &__cbrgai-txt {
      display: none;
    }

    &__cbrgai {
      padding: 5px 8px !important;
    }

    &__centbrg {
      gap: 8px;
    }

    &__ctbwitems {
      padding: 4px 10px !important;
      font-size: 11px;
    }

    &__ctbwicon {
      width: 15px;
    }

    &__ccprcengi {
      position: relative;
      right: 3px;
    }
  }
}

@media (max-width: 315px) {
  .comparison {
    &__htbtn-more {
      display: flex;
    }
  }
}
