.comparison {
  @include display();
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  // background-color: red;
  padding: 22px 35px;

  &__head {
    @include display();
    width: 100%;
    // background: red;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__htop {
    @include display();
    width: 100%;
    // background-color: red;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  &__httbox {
    @include display();
    // width: 100%;
    flex-grow: 1;
    justify-content: start;
    gap: 7px;
    // background-color: blue;
    // flex-wrap: wrap;
    // align-items: end;
  }

  &__htbot {
    @include display();
    text-wrap: nowrap;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: end;
    flex-grow: 1;
  }

  &__htit {
    @include inter();
    @include hoverLink();
    position: relative;
    left: -7px;
    font-weight: 400;
    color: $text-color;
    font-size: 30px;
  }

  &__htitsp {
    @include inter();
    @include display();
    gap: 4px;
    position: relative;
    top: 3px;
    font-size: 20px;
    font-weight: 300;
    color: $secondary-color;
    margin-right: 5px;
  }

  &__htittr {
    position: relative;
    top: 0px;
    width: 16px;
    box-shadow: 0px 0px 10px -3px #a371f7;
    background-color: #a271f733;
    border-radius: 50px;
    opacity: 0.6;
  }

  .target-purple {
    animation-name: targetPurple;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes targetPurple {
    0% {
      box-shadow: 0px 0px 0px 0px transparent;
      background-color: transparent;
    }
    50% {
      box-shadow: 0px 0px 10px -3px #a371f7;
      background-color: #a271f733;
    }
    80% {
      box-shadow: 0px 0px 15px -2px #a371f7;
      background-color: #a271f738;
    }
    100% {
      box-shadow: 0px 0px 15px -2px #a271f71c;
      background-color: #a271f70a;
    }
  }

  &__htitprim {
    @include jet();
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: rgba(163, 113, 247, 0.15);
    padding: 4px 6px;
    border: 1px solid $text-lightS;
    color: #a371f7;
    font-weight: 500;
  }

  &__htbtn {
    @include display();
    @include hoverCursor();
    gap: 5px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    // @include grayButtons();
    padding: 4px 5px;
    font-size: 13px;
    color: $text-color;
    height: 100%;
  }

  &__htbtn-cs {
    background-color: $dash-side;
    padding: 3px 5px;
    border: 1px solid $text-lightS;
  }

  &__htbt-i {
    position: relative;
    top: 1px;
    left: 1px;
    width: 25px;
    padding: 4px 5px;
    height: 100%;
  }

  &__hbot {
    @include display();
    // align-items: start;
    // gap: 10px;
    // background-color: red;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__hbotbxes {
    @include display();
    gap: 2px;
    flex-wrap: wrap;
    // background-color: red;
    width: 100%;
    justify-content: start;
  }

  &__htbxtxt {
    @include inter();
    @include hoverCursor();
    @include display();
    font-size: 12px;
    color: $secondary-color;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    font-weight: 300;
    gap: 5px;
    max-width: 150px;
    white-space: nowrap;
  }
  &__htbtxtmain {
    border: 1px solid $blue-border-text;
    margin-right: 5px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 5px -1px $text-lightS;
  }

  &__htbxtxtsp {
    display: inline-block; // Yoki block
    vertical-align: middle;
    font-weight: 500;
    color: $text-color;

    // ELLIPSIS UCHUN STANDART 3 TALIK:
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Kenglikni piksellarda yoki foizda beramiz
    // width: 60px;
    min-width: 0; // Flex ichida ishlashi uchun qo'shimcha sug'urta
  }

  &__center {
    @include display();
    // background-color: red;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 28px 0px 0px 0px;
  }

  &__centabs {
    width: 100%;
    // background-color: red
  }

  &__ctboxw {
    @include display();
    justify-content: start;
    border-bottom: 1px solid $blue-border-text;
    height: 45px;
    overflow: auto;
    overflow-y: hidden;
    // width: calc(100vw - 70px);
    padding: 0px 5px;
    // flex-wrap: wrap;
    // padding: 22px 35px;

    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    // Scrollbarning harakatlanuvchi qismi (Thumb)
    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl
      // border: 2px solid #0d1117; // Thumb atrofida bo'shliq yaratish (Asosiy fon rangi bilan bir xil)

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    // Scrollbarning orqa foni (Track)
    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    // Gorizontal va Vertikal scroll kesishgan burchak
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    // background-color: red;
  }

  &__ctbwitems {
    @include hoverCursor();
    @include display();
    padding: 7px 23px 8px 15px;
    position: relative;
    bottom: -2px;
    @include inter();
    font-size: 13px;
    color: $text-color;
    opacity: 0.8;
    border-radius: 5px 5px 0px 0px;
    gap: 7px;
    height: 100%;
    // background-color: $main-color-bg;
    // background-color: red;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    min-width: fit-content;
  }

  &__ctbwam {
    padding: 5px;
    background-color: $text-lightS;
    border-radius: 50px;
    font-size: 10px;
  }

  &__ctbwitemslc {
    border: 1px solid $blue-border-text !important;
    border-bottom: 1px solid $main-color-bg !important;
    // background-color: $text-light;
    // border-bottom: 1px solid $main-color-bg;
    order: -1;
  }

  &__ctbwicon {
    width: 17px;
  }

  &__cenactions {
    width: 100%;
    // background-color: red;
    padding: 15px 0px 12px 0px;
    border-bottom: 1px solid $blue-border-text;
  }

  &__cactbox {
    width: 100%;
  }

  &__cactbicn {
    @include hoverCursor();
    width: 28px;
    padding: 4px;
    background-color: $text-lightS;
    color: $secondary-color;
    opacity: 0.7;
    border-radius: 8px;
  }

  &__bot {
    @include display();
    width: 100%;
    justify-content: start;
    align-items: start;
    // gap: 20px;
  }

  &__side {
    @include display();
    flex-direction: column;
    padding: 18px 20px 18px 0px;
    border-right: 1px solid $blue-border-text;
    min-height: 400px;
    justify-content: start;
    align-items: start;
    gap: 18px;
    max-width: 300px;
    // background-color: red;
    // width: 300px;
  }

  &__sidetop {
    @include display();
    gap: 10px;
  }

  &__sidetbtn {
    @include greenButtons();
    padding: 5px 7px;
    // display: none;
    // width: ;
    gap: 3px;
    // opacity: 0.8 !important;
  }
  &__sidetbtn-i {
    position: relative;
    top: 1px;
    width: 13px;
  }

  &__sideicon {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 21px;
    padding: 3px;
    color: $secondary-color;
    opacity: 0.8;
  }

  &__sideform {
    position: relative;
  }

  &__sideinput {
    padding: 5px 4px 7px 28px;
    // background-color: red;
    font-size: 14px;

    &::placeholder {
      color: $secondary-color;
      opacity: 0.6;
      font-size: 13px;
    }
  }

  &__charts {
    @include display();
    // background-color: red;
    flex-grow: 1;
    padding: 18px 10px;
  }

  &__scompcards {
    // padding: 0px 2px;
    width: 100%;
  }
  &__scpcitems {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    max-width: 100%;
    // background-color: red;
    text-wrap: nowrap;
    padding: 10px 13px;
    overflow: auto;
    border-radius: 6px 0px 0px 6px;

    /* --- Global Scrollbar Design --- */

    // Scrollbar yo'lakchasi (Track)
    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    // Scrollbarning harakatlanuvchi qismi (Thumb)
    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl
      // border: 2px solid #0d1117; // Thumb atrofida bo'shliq yaratish (Asosiy fon rangi bilan bir xil)

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    // Scrollbarning orqa foni (Track)
    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    // Gorizontal va Vertikal scroll kesishgan burchak
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  .scpcitemsslc {
    border-right: 3px solid #a371f7;
  }

  &__line {
    position: absolute;
    top: 43px;
    left: 25px;
    width: 11px;
    height: 265px;
    // background-color: red;
    border: 1px solid $text-lightS;
    border-right: 1px solid transparent;
  }

  &__sidehead {
    @include display();
    // background-color: blue;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid $text-lightS;
    padding: 20px 15px;
  }

  &__sidehtit {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    font-weight: 800;
  }

  &__sidehext {
    @include hoverCursor();
    width: 35px;
    color: $text-color;
    opacity: 0.8;
    padding: 8px;
    border-radius: 8px;
  }

  &__sidehead {
    display: none;
  }
}

@media (max-width: 1125px) {
  .comparison {
    // padding: 15px 10px;
    padding: 0px;
    &__htit {
      font-size: 16px;
    }

    &__sidehead {
      display: flex;
    }

    &__side {
      box-shadow: 2px 8px 20px -3px $black;
    }

    &__head,
    &__cenactions {
      padding: 15px 10px;
    }

    &__htitprim {
      font-size: 9px;
    }

    &__htitsp {
      font-size: 14px;
    }

    &__ctboxw {
      // width: 100%;
      overflow: auto;
      overflow-y: hidden;
      flex-grow: 1;
      min-width: 100%;
      width: 0px;
      // min-width: calc(100vw);
      padding: 0px 10px;
      box-sizing: border-box;
      justify-content: start;
    }

    &__htitr {
      width: 14px;
    }

    &__side {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100vh;
      z-index: 10;
      padding: 0px;
      background-color: $main-color-bg;
      backdrop-filter: blur(10px);
      border-radius: 0px 15px 15px 0px;
    }

    &__sidetbtn {
      padding: 5px 9px;
    }

    &__sidetop {
      padding: 10px 15px;
    }

    &__scompcards {
      padding: 10px 20px 10px 15px;
    }

    &__htbtn {
      padding: 2px 3px;
      font-size: 12px;
    }

    &__htbt-i {
      width: 23px;
    }
  }
}

@media (max-width: 500px) {
  .comparison {
    &__htop {
      flex-direction: column;
      align-items: start;
    }

    &__hbotbxes {
      flex-direction: column;
      gap: 0px;
    }

    &__httbox {
      width: 100%;
      padding: 14px;
      background-color: $main-color-bg;
      border-radius: 6px;
    }

    &__htitsp {
      position: static;
    }

    &__htbtn {
      height: auto;
    }

    &__htbtn-cs {
      order: 1;
    }

    &__htbot {
      width: 100%;
      overflow: auto;
      // justify-content: space-between;
    }

    &__htitprim {
      font-size: 8px !important;
      padding: 4px;
      letter-spacing: 0px;
    }

    &__htittr {
      position: relative;
      top: 2px;
      width: 14px;
    }
    &__htit {
      position: static;
      font-size: 13px;

      // opacity: 0.9;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 100%;
      // width: auto;
      width: 10px;
      flex-grow: 1;
    }

    &__htbxtxt {
      width: 100% !important;
      flex-grow: 1;
      max-width: none;
      justify-content: space-between;
      border-radius: 0px;
      border-bottom: 1px solid $text-lightS;
    }

    &__htbtxtmain {
      border: none;
      margin-right: 0px;
      border-bottom: 1px solid $text-lightS;
    }
  }
}
