.comparison {
  @include display();
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  // background-color: red;
  padding: 22px 35px;

  &__head {
    @include display();
    width: 100%;
    // background: red;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__htop {
    @include display();
    width: 100%;
    // background-color: red;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  &__httbox {
    @include display();
    // width: 100%;
    // flex-grow: 1;
    justify-content: start;
    gap: 7px;
    // background-color: blue;
    // flex-wrap: wrap;
    // align-items: end;
  }

  &__htitbox {
    @include display();
    // background-color: red
    gap: 3px;
    justify-content: space-between;
  }

  &__htitsl {
    position: relative;
    left: -7px;
    font-size: 40px;
    // background-color: red;
    color: $secondary-color;
    opacity: 0.6;
    // background-color: red
  }

  &__htbot {
    @include display();
    text-wrap: nowrap;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: end;
    flex-grow: 1;
  }

  &__htit {
    @include inter();
    @include hoverLink();
    position: relative;
    left: -7px;
    font-weight: 400;
    color: $text-color;
    // color: #f0f6fc;
    font-size: 30px;
  }

  &__htitsp {
    @include inter();
    @include display();
    gap: 4px;
    position: relative;
    top: 3px;
    font-size: 20px;
    font-weight: 300;
    color: $secondary-color;
    margin-right: 5px;
  }

  &__htittr {
    position: relative;
    top: 0px;
    width: 16px;
    box-shadow: 0px 0px 10px -3px #a371f7;
    background-color: #a271f733;
    border-radius: 50px;
    opacity: 0.6;
    // background-color: red !important;
  }

  .target-purple {
    animation-name: targetPurple;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes targetPurple {
    0% {
      box-shadow: 0px 0px 0px 0px transparent;
      background-color: transparent;
    }
    50% {
      box-shadow: 0px 0px 10px -3px #a371f7;
      background-color: #a271f733;
    }
    80% {
      box-shadow: 0px 0px 15px -2px #a371f7;
      background-color: #a271f738;
    }
    100% {
      box-shadow: 0px 0px 15px -2px #a271f71c;
      background-color: #a271f70a;
    }
  }

  &__htitprim {
    @include jet();
    @include display();
    position: relative;
    top: 0px;
    font-size: 11px;
    height: 30px;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: rgba(163, 113, 247, 0.15);
    padding: 4px 6px;
    border: 1px solid $text-lightS;
    color: #a371f7;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 0 10px -6px rgba(247, 129, 102, 0.4);
  }

  &__htbtn {
    @include display();
    @include hoverCursor();
    gap: 5px;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    // @include grayButtons();
    // padding: 4px 7px;
    font-size: 12px;
    color: $text-color;
  }

  &__htbtn-cs {
    background-color: $feed-items;
    padding: 3px 8px 3px 1px !important;
    // padding: 0px;
    border: 1px solid $text-lightS;
    width: auto !important;
  }

  &__htbt-i {
    position: relative;
    top: 1px;
    left: 1px;
    width: 25px;
    padding: 4px 5px;
    height: 100%;
  }

  &__hbot {
    @include display();
    // align-items: start;
    // gap: 10px;
    // background-color: red;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }

  &__hbotbxes {
    @include display();
    gap: 2px;
    flex-wrap: wrap;
    // background-color: red;
    width: 100%;
    justify-content: start;
  }

  &__htbxtxt {
    @include inter();
    @include hoverCursor();
    @include display();
    font-size: 12px;
    color: $secondary-color;
    // color: #8b949e;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    font-weight: 400;
    gap: 5px;
    max-width: 150px;
    white-space: nowrap;
    opacity: 1;
  }
  &__htbtxtmain {
    border: 1px solid $blue-border-text;
    margin-right: 5px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 5px -1px $text-lightS;
    color: $text-color;
    // font-weight: 500
  }

  &__htbxtxtsp {
    display: inline-block; // Yoki block
    vertical-align: middle;
    font-weight: 500;
    color: $text-color;
    // opacity: 0.8;
    opacity: 1;

    // ELLIPSIS UCHUN STANDART 3 TALIK:
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Kenglikni piksellarda yoki foizda beramiz
    // width: 60px;
    min-width: 0; // Flex ichida ishlashi uchun qo'shimcha sug'urta
  }

  &__center {
    @include display();
    // background-color: red;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 28px 0px 0px 0px;
  }

  &__centabs {
    @include display();
    justify-content: space-between;
    width: 100%;
    position: relative;
    // background-color: red;
    border-bottom: 1px solid $blue-border-text;
    gap: 20px;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      right: 0px;
      bottom: 4px;
      box-shadow: 0px -20px 20px 15px transparent;
      opacity: 1;
    }
  }

  &__ctboxw {
    @include display();
    position: relative;
    justify-content: start;
    height: 45px;
    overflow: auto;
    align-items: end;
    overflow-y: hidden;
    // width: calc(100vw - 70px);
    padding: 0px 5px;
    // flex-wrap: wrap;
    // padding: 22px 35px;
    // background-color: red;
    flex-grow: 1;
    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    // Scrollbarning harakatlanuvchi qismi (Thumb)
    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl
      // border: 2px solid #0d1117; // Thumb atrofida bo'shliq yaratish (Asosiy fon rangi bilan bir xil)

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    // Scrollbarning orqa foni (Track)
    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    // Gorizontal va Vertikal scroll kesishgan burchak
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    // background-color: red;
  }

  &__ctbwitems {
    @include hoverCursor();
    @include display();
    padding: 7px 23px 8px 15px;
    position: relative;
    // top: 5px;
    // bottom: -6px;
    @include inter();
    font-size: 13px;
    color: $text-color;
    // opacity: 0.8;
    border-radius: 5px 5px 0px 0px;
    gap: 7px;
    height: 100%;
    // background-color: $main-color-bg;
    // background-color: red;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    min-width: fit-content;
    // background-color: red;
  }

  &__ctbwam {
    padding: 5px;
    background-color: $text-lightS;
    border-radius: 50px;
    font-size: 10px;

    // @include display();
    width: 25px;
    height: 30px;
    font-size: 9px;
    font-weight: 500;
    height: 20px;
    padding: 4px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: start;
  }

  &__ctbwitemslc {
    border: 1px solid $blue-border-text !important;
    border-bottom: none !important;
    // background-color: $text-light;
    // border-bottom: 1px solid $main-color-bg;
    order: -1;
  }

  &__ctbwicon {
    width: 17px;
  }

  &__cenactions {
    @include display();
    width: 100%;
    // background-color: red;
    padding: 19px 0px 16px 0px;
    border-bottom: 1px solid $blue-border-text;
  }

  &__cactbox {
    @include display();
    justify-content: start;
    gap: 15px;
    width: 100%;
  }

  &__cactbicn {
    @include hoverCursor();
    width: 28px;
    padding: 4px;
    background-color: $text-lightS;
    color: $secondary-color;
    // opacity: 0.7;
    // background-color: red;
    border-radius: 8px;
  }

  &__bot {
    @include display();
    width: 100%;
    justify-content: start;
    align-items: start;
    // gap: 20px;
  }

  &__side {
    @include display();
    flex-direction: column;
    padding: 18px 20px 18px 0px;
    border-right: 1px solid $blue-border-text;
    min-height: 400px;
    justify-content: start;
    align-items: start;
    gap: 18px;
    max-width: 300px;
    // background-color: red;
    // width: 300px;
  }

  &__sidetop {
    @include display();
    gap: 10px;
  }

  &__sidetbtn {
    @include greenButtons();
    padding: 5px 7px;
    // display: none;
    // width: ;
    gap: 3px;
    // opacity: 0.8 !important;
  }
  &__sidetbtn-i {
    position: relative;
    top: 1px;
    width: 13px;
  }

  &__sideicon {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 21px;
    padding: 3px;
    color: $secondary-color;
    opacity: 0.8;
    // background-color: red;
  }

  &__sideform {
    position: relative;
  }

  &__sideinput {
    padding: 5px 4px 7px 28px;
    // background-color: red;
    font-size: 14px;

    &::placeholder {
      color: $secondary-color;
      opacity: 0.6;
      font-size: 13px;
    }
  }

  &__charts {
    @include display();
    // background-color: red;
    flex-grow: 1;
    padding: 18px 10px;
  }

  &__scompcards {
    // padding: 0px 2px;
    width: 100%;
  }
  &__scpcitems {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    max-width: 100%;
    // background-color: red;
    text-wrap: nowrap;
    padding: 10px 13px;
    overflow: auto;
    border-radius: 6px 0px 0px 6px;
    // background-color: red;
    /* --- Global Scrollbar Design --- */

    // Scrollbar yo'lakchasi (Track)
    &::-webkit-scrollbar {
      width: 10px; // Vertikal scroll kengligi
      height: 3px; // Gorizontal scroll balandligi
    }

    // Scrollbarning harakatlanuvchi qismi (Thumb)
    &::-webkit-scrollbar-thumb {
      background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
      border-radius: 10px; // Yumaloq shakl
      // border: 2px solid #0d1117; // Thumb atrofida bo'shliq yaratish (Asosiy fon rangi bilan bir xil)

      &:hover {
        background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
      }
    }

    // Scrollbarning orqa foni (Track)
    &::-webkit-scrollbar-track {
      background: transparent; // Orqa fon shaffof bo'lgani ma'qul
    }

    // Gorizontal va Vertikal scroll kesishgan burchak
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  .scpcitemsslc {
    border-right: 3px solid #a371f7;
  }

  &__line {
    position: absolute;
    top: 43px;
    left: 25px;
    width: 11px;
    height: 265px;
    // background-color: red;
    border: 1px solid $text-lightS;
    border-right: 1px solid transparent;
  }

  &__sidehead {
    @include display();
    // background-color: blue;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid $text-lightS;
    padding: 20px 15px;
  }

  &__sidehtit {
    @include inter();
    font-size: 14px;
    color: $text-color;
    opacity: 0.8;
    font-weight: 800;
    // background-color: red
  }

  &__sidehext {
    @include hoverCursor();
    width: 35px;
    color: $text-color;
    opacity: 0.8;
    padding: 8px;
    border-radius: 8px;
  }

  &__sidehead {
    display: none;
  }

  &__htbtn-hactf {
    font-size: 12px;
    // width: 30px !important;
    // padding: 0px;
    padding: 0px !important;
    gap: 0px;
  }

  &__hact-i {
    //   @include hoverCursor();
    @include display();
    //   position: relative;
    //   // top: 2px;
    //   // left: 1px;
    width: 26px;
    height: 26px;
    //   color: $text-color;
    //   // opacity: 0.8;
    //   // background-color: $dash-side;
    //   // border: 1px solid $blue-border-text;
    //   background-color: $dash-side;
    padding: 6px !important;
    //   border: 1px solid $text-lightS;
    //   border-radius: 6px;
    opacity: 1 !important;
  }

  &__htopwr {
    @include display();
    // background-color: red;
    flex-grow: 1;
    justify-content: start;
    gap: 10px;
    // flex-wrap: wrap;
    align-items: center;
  }

  &__htbtn-arb {
    @include display();
    width: 34px;
    padding: 5px 8px;
    // background-color: red;
    // margin-left: 10px;
    border-left: 1px solid $blue-border-text;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
  }

  &__htbtn-arbwr {
    height: 100%;
  }

  &__h-actspbo {
    @include display();
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    padding: 3px 8px 3px 5px;
    // gap: 4px;
  }

  &__h-ctbwam {
    // @include display();
    width: 25px;
    font-size: 9px;
    font-weight: 500;
    height: 20px;
    padding: 4px 2px 3px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: start;
    background-color: $feed-items;
    border-radius: 50px;
    // opacity: ;
  }

  &__h-actspbo-txt {
    @include display();
    gap: 3px;
  }

  &__htbtn-more {
    display: none;
    position: static !important;
    width: auto !important;
    border-left: 1px solid $blue-border-text !important;
    border-radius: 0px 6px 6px 0px;
    padding: 5px 5px 5px 5px !important;
    & svg {
      position: relative;
      top: 1px;
      width: 15px !important;
    }
  }

  &__htbwrbox {
    @include display();
    gap: 4px;
  }

  &__hbtxt-match {
    color: #3fb950 !important;
  }

  &__hbtxt-snp {
    color: #d29922;
  }

  &__cactprcbo {
    @include display();
    gap: 15px;
    // background-color: red;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ccprctxt {
    @include display();
    @include inter();
    gap: 4px;
    font-size: 13px;
    color: $secondary-color;
    font-weight: 300;
    flex-direction: column;
    align-items: start;
    // background-color: red;
  }

  &__ccprctbar {
    @include display();
    justify-content: start;
    width: 100%;
    height: 2px;
    background-color: $blue-border-text;
    border-radius: 50px;
    opacity: 0.5;
  }

  &__ccprctsp {
    @include display();
    gap: 4px;
    color: $text-color;
    font-weight: 500;
  }

  &__ccprcdeg {
    color: $dna-a;
  }

  &__ccprcttop {
    @include display();
    gap: 4px;
  }

  &__ccprctline {
    width: 65%;
    height: 2px;
    background-color: $dna-a;
    border-radius: 50px;
    opacity: 1;
  }

  &__ccprcblf {
    @include display();
    gap: 10px;
  }

  &__ccprcengi {
    @include display();
    gap: 3px;
    @include inter();
    font-size: 13px;
    color: $secondary-color;
    font-weight: 300;
  }

  &__ccengimain {
    font-weight: 500;
    color: $text-color;
  }

  &__ccprcactsrarr {
    width: 24px;
  }

  &__ccprcactscdr {
    display: none;
  }

  &__ccprcactsrarr {
    display: none;
  }

  &__ccprcactengi-i {
    position: relative;
    top: 2px;
    width: 13px;
    display: none;
    color: $secondary-color;
    opacity: 0.7;
  }

  &__centbrg {
    @include display();
    gap: 10px;
  }

  &__cbrgai {
    @include display();
    padding: 5px 7px !important;
  }

  &__cbrgai-i {
    position: relative;
    top: 1px;
    left: 1px;
    width: 15px;
    color: #a371f7;
  }

  &__cbrgai-pthbut{
    @include greenButtons();
    gap: 6px;
    color: white;
    letter-spacing: -0.2px;
    border-radius: 6px;
    // opacity: 1 !important;
  }
}

@media (max-width: 1125px) {
  .comparison {
    // padding: 15px 10px;
    padding: 0px;
    &__htit {
      font-size: 16px;
    }

    &__htitsl {
      font-size: 23px;
    }

    &__sidehead {
      display: flex;
    }

    &__side {
      box-shadow: 2px 8px 20px -3px $black;
    }

    &__head,
    &__cenactions {
      padding: 15px 10px;
    }

    &__htitprim {
      font-size: 9px;
    }

    &__htitsp {
      font-size: 14px;
    }

    &__ctboxw {
      // width: 100%;
      overflow: auto;
      overflow-y: hidden;
      flex-grow: 1;
      min-width: 100%;
      width: 0px;
      // min-width: calc(100vw);
      padding: 0px 10px;
      box-sizing: border-box;
      justify-content: start;
    }

    &__htitr {
      width: 14px;
    }

    &__side {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100vh;
      z-index: 10;
      padding: 0px;
      background-color: $main-color-bg;
      backdrop-filter: blur(10px);
      border-radius: 0px 15px 15px 0px;
    }

    &__sidetbtn {
      padding: 5px 9px;
    }

    &__sidetop {
      padding: 10px 15px;
    }

    &__scompcards {
      padding: 10px 20px 10px 15px;
    }

    &__htbtn {
      padding: 2px 3px;
      font-size: 12px;
    }

    &__htbt-i {
      width: 23px;
    }

    &__cactprcbo {
      flex-direction: column;
      align-items: end;
      justify-content: start;
    }

    &__ccprctscdr {
      display: none;
    }

    &__ccprcactengi-i {
      position: static;
      display: block;
    }

    &__ccengimain {
      font-size: 11px;
      // opacity: 0.9;
      font-weight: 300;
      letter-spacing: -1px;
    }

    &__centabs {
      flex-direction: column-reverse;
      align-items: end;
    }

    &__centbrg {
      padding: 0px 10px;
    }
  }
}

@media (max-width: 500px) {
  .comparison {
    &__htop {
      flex-direction: column;
      align-items: start;
    }

    &__centabs {
      &::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        right: 0px;
        bottom: 4px;
        box-shadow: 0px -20px 20px 30px $dash-side;
        opacity: 1;

        // backdrop-filter: blur(5px)
      }
    }

    &__hbotbxes {
      flex-direction: column;
      gap: 0px;
    }

    &__httbox {
      // flex-grow: 1;
      width: 100%;
      padding: 14px;
      background-color: $main-color-bg;
      border-radius: 6px;
    }

    &__htopwr {
      width: 100%;
      flex-direction: column;
      align-items: end;
      justify-content: start;
      border-radius: 6px;
      padding: 14px 14px 4px 14px;
      background-color: $main-color-bg;
    }

    &__h-actspbo-txt {
      display: none;
    }

    &__h-actspbo {
      padding: 0px;
      border-radius: 5px;
    }

    &__htitsp {
      position: static;
    }

    &__htbtn {
      order: 2;
      // height: auto;
      // width: auto;
      // padding: 5px !important;
      margin-right: 4px;
      & svg {
        position: relative;
        left: 0px;
        // background-color: red;
      }
      font-size: 14px;
      color: $text-color;
      // padding: 8px !important;
      height: 32px !important;
      width: auto;
      // height: auto !important;
    }

    &__htbt-i {
      width: 27px;
    }

    &__htbtn-cs {
      order: 0 !important;
      // background-color: $header;
      // background-color: rgba(137, 87, 229, 0.1);
      margin-left: 0px !important;
      // padding: 10px 0px !;
      padding: 5px !important;
      // height: auto;
      border: 1px solid rgba(240, 246, 252, 0.1) !important;
      // border: 1px solid red !important;
      opacity: 1;
      background-color: $bg-light-gray;
    }

    &__htbwrbox {
      // background-color: red;
      flex-grow: 1;
      justify-content: start;
      flex-wrap: wrap;
      height: 32px;
      overflow: hidden;
      gap: 0px;
      &::-webkit-scrollbar {
        width: 10px; // Vertikal scroll kengligi
        height: 3px; // Gorizontal scroll balandligi
      }

      // Scrollbarning harakatlanuvchi qismi (Thumb)
      &::-webkit-scrollbar-thumb {
        background-color: $blue-border-text; // GitHub'ning neytral to'q rangi
        border-radius: 10px; // Yumaloq shakl
        // border: 2px solid #0d1117; // Thumb atrofida bo'shliq yaratish (Asosiy fon rangi bilan bir xil)

        &:hover {
          background-color: #484f58; // Sichqoncha ustiga kelganda biroz ochroq rang
        }
      }

      // Scrollbarning orqa foni (Track)
      &::-webkit-scrollbar-track {
        background: transparent; // Orqa fon shaffof bo'lgani ma'qul
      }

      // Gorizontal va Vertikal scroll kesishgan burchak
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
    &__htbot {
      justify-content: start;
      flex-wrap: nowrap;
      // overflow: hidden;
      padding: 0px 0px !important;
      // background-color: red;
      gap: 0px;
      // height: 30px;
      width: 100%;
      // background-color: red;
      // flex-grow: 1;
      // overflow: auto;
      // justify-content: space-between;
    }

    &__htitprim {
      font-size: 8px !important;
      padding: 4px;
      letter-spacing: 0px;
      height: 23px;
    }

    &__hact-i {
      height: auto;
      width: 32px;
      padding: 8px !important;
      // order: 2;
    }

    &__htbtn-arb {
      display: none;
    }

    &__htbtn-hactf {
      order: 1 !important;
      // background-color: red;
      padding: 0px !important;
      width: auto;
      // width: 30px !important;
    }

    &__htittr {
      position: relative;
      top: 2px;
      width: 14px;
    }

    &__htitbox {
      @include display();
      // background-color: red;
      flex-grow: 1;
      justify-content: start;
    }

    &__htitsl {
      position: static;
      font-size: 24px;
    }
    &__htit {
      position: static;
      font-size: 13px;

      // opacity: 0.9;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 100%;
      // width: auto;
      width: 10px;
      flex-grow: 1;
      max-width: fit-content;
      // background-color: blue;
    }

    &__htbxtxt {
      width: 100% !important;
      flex-grow: 1;
      max-width: none;
      justify-content: space-between;
      border-radius: 0px;
      border-bottom: 1px solid $text-lightS;
    }

    &__htbtxtmain {
      border: none;
      margin-right: 0px;
      border-bottom: 1px solid $text-lightS;
    }

    &__ccprcactscdr {
      display: block;
    }

    &__ccprcactsrarr {
      display: block;
    }

    &__ccprcstp {
      display: none;
    }

    &__ccprcact {
      display: none;
    }

    &__ccprctstpmain {
      display: none !important;
    }

    &__ccprctbar {
      display: none;
    }

    &__ccprcttop {
      background-color: $bg-light-gray;
      padding: 2px 4px;
      border-radius: 6px;
      border: 1px solid rgba(240, 246, 252, 0.1);
      @include grayButtonsHover();
    }

    &__cactprcbo {
      gap: 4px;
    }

    &__cbrgai-txt {
      display: none;
    }

    &__cbrgai{
      padding: 5px 8px !important;
    }

    &__centbrg{
      gap: 8px;
    }

    &__ctbwitems{
      padding: 4px 10px !important; 
      font-size: 11px;
    }

    &__ctbwicon{
      width: 15px;
    }

    &__ccprcengi {
      position: relative;
      right: 3px;
    }
  }
}

@media (max-width: 315px) {
  .comparison {
    &__htbtn-more {
      display: flex;
    }
  }
}
