.dash-main {
  @include display();
  flex-grow: 1 !important;
  background-color: $bg-dark-blue;
  width: 100%;
  border-left: 1px solid $text-lightS;
  justify-content: start;
  align-items: center;
  padding: 3% 15px 3% 15px;
  flex-direction: column;
  gap: 20px;
  min-height: 200vh;
  // background-color: red;

  &__wr {
    @include display();
    // position: relative;
    // right: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    // max-width: 900px;
    padding: 0% 10% 0% 320px;
    // margin-left: 320px
    // background-color: red
  }
  &__top {
    @include display();
    justify-content: start;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  &__toitl {
    @include inter();
    font-size: 18px;
    color: $secondary-color;
    font-weight: 800;
  }

  &__tlast {
    @include inter();
    position: relative;
    top: 1px;
    font-size: 15px;
    color: $border;
  }

  &__tcar {
    // @include display();
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    // align-items: start;
    max-width: 1000px;
    // background-color: red;
    margin-bottom: 10px;
  }

  &__tcarsvg {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 20px;
    color: $border;
  }

  &__carbasq {
    @include inter();
    font-size: 14px;
    // background-color: $black;
    padding: 3px;
    border-radius: 8px;
    color: $dna-a;
    font-weight: 400;
    text-shadow: 0px 0px 10px $dna-a;
    // border: 1px solid $dna-a;
  }

  &__casqsp {
    color: $text-color;
    font-weight: 500;
  }

  &__casqtx {
    @include inter();
    font-size: 15px;
    color: $secondary-color;
  }

  &__tcarb {
    @include display();
    position: relative;
    flex-direction: column;
    // background-color: red;
    align-items: start;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid $text-lightS;
    background-color: $dash-side;
    padding: 20px;
    flex-grow: 1;
    min-width: 280px;
    height: 100%;
    justify-content: start;
    // max-height: 100px;
  }

  &__tcarb:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__tcarb:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__tcarb:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &__tcarb:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__cpetx {
    @include inter();
    font-size: 13px;
    color: $light-border;
  }

  &__tcarbtx {
    @include inter();
    font-size: 14px;
    color: $secondary-color;
    font-weight: 500;
    margin-bottom: 14px;
    width: 100%;
  }

  &__carbrs {
    @include display();
    // background-color: red;
    width: 100%;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__carbrstx {
    @include inter();
    font-size: 15px;
    color: $text-color;
    font-weight: 500;
  }

  &__crslbo {
    @include display();
    flex-grow: 1;
    border-radius: 8px;
    background-color: $border;
    justify-content: start;
    min-width: 40px;
  }

  &__crslhr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: $dna-a;
    width: 25%;
    border-radius: 8px;
    opacity: 0.5;
  }

  &__cdslbo {
    @include display();
    flex-grow: 1;
    border-radius: 8px;
    background-color: $border;
    justify-content: start;
    min-width: 40px;
    width: 100%;
    margin-bottom: 3px;
  }

  &__cdslhr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: $dna-g;
    width: 25%;
    border-radius: 8px;
  }

  // &__tcarbotx {
  //   border-bottom: 1px solid $dna-t;
  //   padding: 0px 0px 5px 0px;
  //   opacity: 0.6;
  // }

  // &__tasqbotx {
  //   border-bottom: 1px solid $dna-c;
  //   padding: 0px 0px 5px 0px;
  //   opacity: 0.6;
  // }

  // &__tpebotx {
  //   border-bottom: 1px solid $dna-g;
  //   padding: 0px 0px 5px 0px;
  //   opacity: 0.6;
  // }

  // &__trsbotx {
  //   border-bottom: 1px solid $dna-a;
  //   padding: 0px 0px 5px 0px;
  //   opacity: 0.6;
  // }

  &__cbottx {
    @include inter();
    font-size: 14px;
    color: $light-border;
  }

  &__carbds {
    @include inter();
    color: $text-color;
    font-weight: 500;
  }

  &__cdshi {
    @include inter();
    font-size: 12px;
    color: $dna-t;
    font-weight: 500;
  }

  &__centwr {
    @include display();
    justify-content: end;
    align-items: start;
    // background-color: red;
    width: 100%;
    margin-top: 10px;
    max-width: 1000px;
    gap: 20px;
    flex-wrap: wrap-reverse;
    // height: 100%;
  }

  &__current {
    @include display();
    justify-content: start;
    width: 100%;
    max-width: 1000px;
    border: 1px solid $text-lightS;
    background-color: $dash-side;
    margin-top: 10px;
    padding: 3px 20px;
    border-radius: 8px;
  }

  &__currentxt {
    @include display();
    align-items: center;
    gap: 2px;
    @include inter();
    color: $secondary-color;
    opacity: 0.9;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: end;
    width: 100%;
  }

  &__curtxtsp {
    @include display();
    // @include buttonShadow();
    justify-content: end;
    position: relative;
    opacity: 1;
    top: 2px;
    color: $text-color;
    padding: 7px 30px 7px 7px;
    border-radius: 8px;
    font-size: 14px;
    // flex-grow: 1;
    max-width: 100%;
    // text-align: end;
  }

  &__curst{
    color: $dna-a;
    font-weight: 400;
    opacity: 0.9;
  }

  &__curtxtm {
    width: 100%;
  }

  &__curtxtmsp {
    // @include display();
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    // display: none;
  }

  &__curtxtsp-i {
    @include hoverCursor();
    position: absolute;
    top: 3px;
    right: 0px;
    width: 25px;
    // height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-radius: 7px;
    // border-left: 1px solid $text-lightS;
    &:active {
      background-color: $text-light;
    }
  }

  &__actions {
    @include display();
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
  }

  &__actbtn {
    @include inter();
    @include display();
    @include hoverCursor();
    @include buttonShadow();

    outline: none;
    padding: 10px;
    height: 100%;
    max-height: 45px;
    border-radius: 8px;
    font-size: 14px;
    gap: 5px;
    color: $text-color;
    border: 1px solid $text-lightS;
    background-color: $dash-side;
    color: $secondary-color;
    & svg {
      width: 18px;
      color: $secondary-color;
      opacity: 0.6;
    }
    &:active {
      background-color: $text-light;
    }
  }

  &__actjump {
    // @include buttonShadow();
    background-color: #359638ca;
    border: 1px solid #308f33ca;
    color: $text-color;
    opacity: 0.8;
    & svg {
      position: relative;
      top: 1px;
      color: $text-color;
      opacity: 1;
    }

    &:active {
      background-color: #52b455ca;
      opacity: 1;
    }
  }

  &__recent {
    @include display();
    flex-direction: column;
    align-items: start;
    // background-color: red;
    padding: 20px;
    // gap: 20px;
    border-radius: 8px;
    background-color: $dash-side;
    border: 1px solid $text-lightS;
  }

  &__recbox {
    // background-color: blue;
    width: 100%;
  }

  &__rectit {
    @include inter();
    font-size: 14px;
    color: $secondary-color;
    margin-bottom: 20px;
    // background-color: red;
  }

  &__recitems {
    // @include display();
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    position: relative;
    // gap: 10px;
    // height: 100px;
    // flex-direction: column;
    align-items: start;
    // background-color: red;
    width: 100%;
    max-width: 300px;
    // border-bottom: 1px solid red
  }

  &__reclineb {
    @include display();
    position: relative;
    top: 2px;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    //  background-color: red;
  }

  &__reccircle {
    position: relative;
    // left: -3%;
    z-index: 2;
    width: 10px;
    color: $text-lightS;
  }
  &__recline {
    position: relative;
    // top: -4px;
    width: 1px;
    // left: -1px;
    flex-grow: 1;
    z-index: 1;
    // min-height: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $text-lightS;
  }

  &__rectext {
    @include display();
    gap: 3px;
    flex-wrap: wrap;
    justify-content: start;
    @include inter();
    font-size: 12px;
    color: $secondary-color;
    opacity: 0.7;
    // background-color: red;
    flex-grow: 1;
  }

  &__recmtxt {
    @include display();
    justify-content: start;
    @include inter();
    font-size: 15px;
    color: $text-color;
    font-weight: 300;
    opacity: 0.9;
    width: 100%;
    // text-wrap: wrap
    word-break: break-all
  }

  &__rectime {
    @include inter();
    @include display();
    // font-size: 14px;
    color: $secondary-color;
  }

  &__recbot {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 3px;
    grid-row: 1/2;
    grid-column: 2/3;
    // background-color: red;
    margin-bottom: 25px;
    // border-bottom: 1px solid $text-lightS;
    padding: 0px 0px 0px 10px;
  }

  &__health {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: red;
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $text-lightS;
    background-color: $dash-side;
    min-width: 250px;
  }

  &__healtht {
    @include display();
    justify-content: start;
    // background-color: red;
    width: 100%;
    gap: 5px;
  }

  &__healthdot {
    color: $dna-a
  }

  &__healthbot {
    @include display();
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__healthbox{ 
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 1px;
    width: 100%;
    // background-color: red
  }

  &__healthtit {
    @include inter();
    font-size: 14px;
    color: $secondary-color
  }

  &__healthbtit {
    @include inter();
    font-size: 13px;
    color: $secondary-color;
    opacity: 0.7;
  }

  &__healthbar {
    @include display();
    // background-color: red;
    width: 100%;
    justify-content: start;
    gap: 5px;
  }

  &__hbartxt {
    @include inter();
    color: $secondary-color;
    font-size: 13px
  }

  &__hlineb {
    @include display();
    flex-grow: 1;
    background-color: $border;
    height: 1.5px;
    border-radius: 8px;
    justify-content: start;
  }

  &__hline {
    width: 25%;
    border-radius: 8px;
    border: none;
    height: 100%;
  }
  
  &__hlinecpu {
    background-color: $dna-c;
  }

  &__hlineram {
    background-color: rgb(163, 18, 163);
  }
}

@media (max-width: 1125px) {
  .dash-main {
    border-left: none;
    padding: 3% 15px 3% 15px;

    &__wr {
      padding: 0px;
    }

    &__tcarb {
      min-width: 0px !important;
      height: auto;
      // width: 30px;
    }

    &__tcar {
      display: flex;
    }
    &__tcarbtx {
      font-size: 12px;
    }
  }
}

@media (max-width: 500px) {
  .dash-main {
    &__tcar {
      display: flex;
    }
    &__tcarbtx {
      font-size: 12px;
    }

    &__carbrstx {
      font-size: 12px;
    }

    &__cbottx {
      font-size: 12px;
    }

    &__casqtx {
      font-size: 12px;
    }

    &__carbds {
      font-size: 13px;
    }

    &__cpetx {
      font-size: 12px;
    }

    &__health{
      min-width: 0px;
    }
  }
}
