.dashboard {
  @include display();
  width: 100%;
  // background-color: $header;
  // background-color: #1117208e;
  // background-color: #06071181;
  // background-color: #12141cb9;
  // background-color: #0e1016b4;
  // background-color: #0e1016a4;
  // background-color: #0f112184;
  // background-color: #0d121c84;
  background-color: #0c101a84;
  // background-color: ;
  padding: 10px 20px;
  // border-bottom: 1px solid $text-light;
  &__nav {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  &__nav-left {
    @include display();
    gap: 10%;
  }

  &__title {
    @include space();
    color: $text-color;
  }

  &__navbar-options {
    @include display();
    flex-grow: 0.5;
    justify-content: end;
    gap: 20px;
  }

  &__form-search {
    position: relative;
    @include display();
  }

  &__search-o {
    @include display();
    position: absolute;
    top: 27%;
    left: 7px;
    color: $text-color;
    opacity: 0.6;
  }

  &__header-input {
    @include inter();
    @include box();
    padding: 6px 5px 6px 27px;
    font-size: 14px;
    outline: none;
    // border: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0.8 !important;
  }

  &__links {
    @include inter();
    font-size: 15px;
    color: $text-color;
    display: none;
    height: 100%;
    padding: 8px;
    border-radius: 8px;

    &:active {
      background-color: rgba(207, 207, 210, 0.243);
      opacity: 0.6;
    }
  }

  &__set,
  &__lan,
  &__not,
  &__info,
  &__br {
    display: flex;
    @include box();
    @include hover();
    @include hoverCursor();
    opacity: 0.8;
    padding: 5px 5px 5px 6px;
    color: $text-color;
    // width: 30px;
  }

  &__pr {
    @include display();
    position: relative;
    left: 3px;
    color: $text-color;
    // width: 32px;
    gap: 5px;
    height: 30px;
    opacity: 0.8;
    padding: 0px 0px 0px 0px;
  }

  &__pr-more {
    @include display();
    @include inter();
    @include box();
    @include hover();
    @include hoverCursor();
    position: relative;
    padding: 3px 5px;
    color: white !important;
    opacity: 0.8;
  }

  &__pr-arr {
    position: relative;
    top: 2px;
    left: 3px;
  }

  &__os {
    @include display();
    position: relative;
    gap: 7px;
    padding: 0px 0px 0px 0px;
  }

  &__br {
    display: none;
  }

  &__menu {
    display: none;
  }
}

@media (max-width: 900px) {
  .dashboard {
    padding: 10px 4%;
    &__header-input {
      display: none;
    }

    &__sctt {
      display: none !important;
    }

    &__sct {
      padding: 6px 8px;
    }

    &__sci {
      width: 13px;
    }

    &__search {
      display: flex;
      @include box();
      @include hover();
      @include hoverCursor();
      padding: 5px 5px 5px 6px;
      color: $text-color;
      // width: 30px;
    }

    &__search-o {
      position: static;
      // display: flex;
      @include box();
      @include hover();
      @include hoverCursor();
      padding: 7px;
      color: $text-color;
      opacity: 0.8;
    }

    &__navbar-options {
      gap: 10px;
    }

    &__title {
      font-size: 15px;
    }

    &__set,
    &__lan,
    &__info,
    &__pr-more {
      display: none;
    }

    &__br {
      display: flex;
    }

    &__set-menu,
    &__lan-menu,
    &__info-menu {
      @include inter();
      font-size: 14px;
      display: flex;
      gap: 4px;
      border: none !important;
    }

    &__title {
      flex-shrink: 0;
    }

    &__menu {
      @include standard-box-borders();
      // display: flex !important;
      position: absolute;
      background-color: $header;
      top: 55px;
      border-radius: 8px;
      padding: 3px;
      // gap: 10px;
      flex-direction: column;
      width: 80vw; // Ekran kengligining 80 foizi
      max-width: 280px;
      right: 10px;
    }
  }
}

// @media (hover: hover) {
//   .dashboard {
//     &__links {
//         &:hover {
//         background-color: rgba(207, 207, 210, 0.243);
//         opacity: 0.6;
//       }
//     }
//     &__set,
//     &__lan,
//     &__not,
//     &__info,
//     &__br {
//       @include hover();
//     }
//     &__pr-more {
//       @include hover();
//     }
//     &__search {
//       @include hover();
//     }
//     &__search-o {
//       @include hover();
//     }
//   }
// }
