.dash-side {
  @include display();
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 40px 20px;
  gap: 9px;
  border-right: 1px solid $text-lightS;
  height: 100%;
  flex-grow: 1;
  max-width: 290px;
  min-width: 290px;
  &__top {
    @include display();
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    margin-bottom: 10px;
    // background-color: red;
  }

  &__exit {
    display: none;
  }

  &__prtop {
    @include inter();
    @include hoverNormal();
    font-size: 13px;
    color: $text-color;
    padding: 5px 8px;
    border-radius: 5px;
    width: 50%;
    opacity: 1 !important;
  }

  &__primg {
    border-radius: 50px;
  }

  &__repo-box {
    @include display();
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__repoform {
    @include display();
    width: 100%;
    // background-color: red;
    border: 1px solid $text-lightS;
    border-radius: 6px;
  }

  &__reposr {
    @include inter();
    padding: 5px 4px 7px 4px;
    color: $text-color;
    border-radius: 5px;
    border: 1px solid #2c343d36;
    border-top: 1px solid $bg-dark-blue;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
    background-color: #2c343d36;

    &::placeholder {
      color: $light-border;
    }

    &:focus {
      border: 1px solid $light-border;
    }
  }

  &__replf {
    @include display();
    gap: 8px;
    flex-grow: 1;
    justify-content: start;
  }

  &__repcir {
    width: 8px;
  }

  &__repcirsp:nth-child(1) {
    color: $dna-g;
  }
  &__repcirsp:nth-child(2) {
    color: $dna-g;
  }

  &__repos {
    @include display();
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 8px;
    width: 100%;
  }

  &__repmimg {
    width: 25px;
    border-radius: 50px;
  }
  &__repmain {
    @include display();
    width: 100%;
    justify-content: start;
    gap: 8px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__repli {
    @include inter();
    font-size: 13px;
    color: $text-color;

    &:hover {
      color: $link;
    }
  }

  &__reponew {
    border: none;
    padding: 6px 5px 0px 5px;
    font-size: 11px;
    box-shadow: 0px 1px 3px 1px rgba(22, 22, 22, 0.658);
    &:active {
      background-color: #52b455ca;
    }
    &:hover {
      cursor: pointer;
    }

    @include display();
    @include hoverCursor();
    @include inter();
    align-items: start;
    gap: 5px;
    border-radius: 5px;
    background-color: #359638ca;
    border: 1px solid #308f33ca;
    color: $text-color;
    opacity: 1;
    // font-weight: 500;
  }

  &__repbtnsp {
    position: relative;
    top: -1px;
  }

  &__reposvg {
    position: relative;
    left: 1px;
    top: -2px;
    width: 16px;
  }

  &__repot {
    @include inter();
    font-size: 12px;
    color: $text-color;
  }

  &__exit {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $light-border;
    width: 20px;
  }
}

@media (max-width: 1125px) {
  .dash-side {
    position: absolute;
    background-color: $main-color-bg;
    min-width: 0px;
    width: 90%;
    border-top-right-radius: 15px;
    border-top-bottom-radius: 15px;

    &__exit {
      display: block;
    }
  }
}
