.dashboard {
  @include display();
  width: 100%;
  background-color: $header;
  padding: 15px 10%;

  &__nav {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    @include space();
    color: $bg-main;
  }

  &__navbar-options {
    @include display();
    flex-grow: 0.5;
    justify-content: end;
    gap: 20px;
  }

  &__form-search {
    position: relative;
    @include display();
  }

  &__search-o {
    @include display();
    position: absolute;
    top: 27%;
    left: 7px;
    color: $text;
    opacity: 0.6;
  }

  &__header-input {
    @include inter();
    @include box();
    padding: 6px 5px 6px 24px;
    font-size: 14px;
    outline: none;
    // border: none;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0.5 !important;
  }

  &__links {
    @include inter();
    font-size: 15px;
    color: $text;
    height: 100%;
    padding: 8px;
    border-radius: 8px;

    &:hover {
      background-color: rgba(207, 207, 210, 0.243);
      opacity: 0.6;
    }
  }

  &__set,
  &__lan,
  &__not,
  &__info,
  &__br {
    display: flex;
    @include box();
    @include hover();
    padding: 5px 5px 5px 6px;
    color: $text;
    // width: 30px;
  }

  &__pr {
    @include display();
    position: relative;
    left: 3px;
    color: $text;
    // width: 32px;
    gap: 5px;
    height: 30px;
    opacity: 0.7;
    padding: 0px 0px 0px 0px;
  }

  &__pr-more {
    @include display();
    @include inter();
    @include box();
    @include hover();
    position: relative;
    padding: 3px 5px;
    // background-color: red;
  }

  &__pr-arr {
    position: relative;
    top: 2px;
    left: 3px;
  }

  &__os {
    @include display();
    position: relative;
    gap: 7px;
    // background-color: red;
    padding: 0px 0px 0px 0px;
  }

  &__br {
    display: none;
  }

  &__menu {
    display: none;
  }
}

@media (max-width: 900px) {
  .dashboard {
    padding: 10px 10%;
    &__header-input {
      display: none;
    }

    &__search {
      display: flex;
      @include box();
      @include hover();
      padding: 5px 5px 5px 6px;
      color: $text;
      // width: 30px;
    }

    &__search-o {
      position: static;
      // display: flex;
      @include box();
      @include hover();
      padding: 7px;
      color: $text;
    }

    &__navbar-options {
      gap: 10px;
    }

    &__title {
      font-size: 15px;
    }

    &__set,
    &__lan,
    &__info,
    &__pr-more {
      display: none;
    }

    &__br {
      display: flex;
    }

    &__set-menu,
    &__lan-menu,
    &__info-menu {
      @include inter();
      font-size: 14px;
      display: flex;
      gap: 4px;
      border: none !important;
    }

    &__title {
      flex-shrink: 0;
    }

    &__menu {
      display: flex !important;
      position: absolute;
      background-color: $header;
      top: 55px;
      border-radius: 8px;
      padding: 3px;
      // gap: 10px;
      flex-direction: column;
      width: 80vw; // Ekran kengligining 80 foizi
      max-width: 280px;
      right: 10px;
    }
  }
}
