*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


body {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  // background-color: #0f172a;
  // background-color: rgb(20, 24, 40);
  // background-color: #111827;
  // background-color: #0b0f1a;
  // background-color: #252b38;
  // background-color: #222834;
  // background-color: #131920f1;
    // background-color: #161b22;
    background-color: $main-color-bg;



}

.choosed {
  color: rgb(89, 117, 155) !important;
  text-decoration: underline;
} 

.show {
  animation-name: show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes show {
  0%{
    transform: translateY(-10px);
  }100%{
    transform: translateY(0px);
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 500px) {
  .main{
    flex-direction: column;
  }
}