.lab-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  flex-grow: 1;
}

.lab-dash {
  @include display();
  align-items: start;
  justify-content: start;
  flex-grow: 1;
  min-height: 300px;
  width: 100%;
  background-color: $bg-dark-blue;
}
