.lab-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  flex-grow: 1;
}

.lab-dash {
  @include display();
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  grid-row: 3/4;
  grid-column: 2/3;
  flex-grow: 1;
  height: calc(100vh - 105px);
  min-height: 300px;
  height: 100vh;
  // height: 200vh !important;
  // background-color: red
}
