.main-t {
  width: 100%;
  height: auto;
  // background-color: rgb(63, 49, 49);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 10px 0px 20px 0px;
  // min-width: 1000px;
  // display: none;
  &__left {
    @include display();
    // @include standard-box-borders();
    align-items: start;
    justify-content: start;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 2/3;
    // height: 100%;
    background-color: $black;
    // min-height: 350px;
    // max-height: 350px;
    border-radius: 8px;
    opacity: 0.8;
    // max-width: 1700px;
    width: 100%;
    margin-bottom: 5%;
    transition: all 0.3s ease-in-out;
    // max-width: 1100px;;
  }

  &__right {
    // @include display();
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    // flex-direction: column;
    // align-items: start;
    // justify-content: start;
    align-items: start;
    // justify-content: space-between;
    grid-column: 1/5;
    grid-row: 1/2;
    min-height: 70%;
    height: auto;
    // background-color: red;
    gap: 30px;
    // width: 90%;
    border-top: 1px solid $text-light;
    padding: 10px 0px;
    // max-width: 1300px;
    // margin-right: 305px;
    justify-content: end;
    // margin-left: auto
    flex-grow: 1;
    width: 100%;
  }

  &__right-boxes-nd {
    @include display();
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    min-width: 180px;
  }

  &__right-act {
    grid-column: 2/3;
    grid-row: 2/3;
    // background-color: red;
  }
  &__right-nuc {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__right-boxes-deg {
    @include display();
    flex-direction: column;
    gap: 10px;
    align-items: start;
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 550px;
  }

  &__right-binfo {
    @include inter();
    @include display();
    gap: 5px;
    justify-content: start;
    font-size: 12px;
    color: $secondary-color;
    // background-color: red;
  }

  &__right-binsp {
    font-weight: 600;
  }

  &__right-l {
    width: 100%;
    // flex-grow: 1;
  }

  &__right-boxes-t {
    @include inter();
    font-size: 13px;
    color: $secondary-color;
    padding: 10px 5px 0px 5px;
    // background-color: red
  }

  &__right-boxes-a {
    @include display();
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px 0px;
    gap: 10px;
  }

  &__right-a-txt {
    // @include inter();
    // @include display();
    // justify-content: center;
    // gap: 10px;
    // @include hoverCursor();
    // @include standard-box-borders();
    // // @include hoverNavCards();
    // font-size: 14px;
    // // background-color: $text-color;
    // color: $text-color;
    // background-color: $header;
    // // border-bottom: 1px solid $text-color;
    padding: 15px 5px;

    // &:active {
    //   background-color: #238636;
    //   border: 1px solid rgb(28, 177, 28);
    //   cursor: pointer;
    // }
    @include grayButtons();
  }

  &__right-a-i {
    position: relative;
    top: 1px;
    width: 15px;
  }

  &__right-a-txt:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__right-a-txt:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &__right-a-txt:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &__right-a-txt:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__right-boxes-n {
    @include display();
    padding: 10px 0px;
  }

  &__right-boxes-nucs {
    @include jet();
    min-width: 14px;
    height: 30px;
    font-size: 20px;
    color: $text-color;
    // background-color: red;
  }

  &__right-nucs-a {
    // background-color: blue !important;
    border-bottom: 2px solid $dna-a;
    color: $dna-a;
    flex-grow: 2;
  }
  &__right-nucs-t {
    // background-color: blue !important;
    border-bottom: 2px solid $dna-t;
    color: $dna-t;
    flex-grow: 1;
  }
  &__right-nucs-g {
    // background-color: blue !important;
    border-bottom: 2px solid $dna-g;
    color: $dna-g;
    flex-grow: 1;
  }
  &__right-nucs-c {
    // background-color: blue !important;
    border-bottom: 2px solid $dna-c;
    color: $dna-c;
    flex-grow: 3;
  }

  &__right-boxes-meta {
    @include display();
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: auto;
    border: 1px solid $text-lightS;
    border-radius: 8px;
  }

  &__right-boxes-st {
    @include inter();
    width: 100%;
    font-size: 13px;
    background-color: $dna-a;
    color: $text-color;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid green;
    box-shadow: 0 0 10px rgba(35, 134, 54, 0.3);
    // background-color: red
  }

  &__right-meta-given {
    @include inter();
    color: $text-color;
    opacity: 0.5;
    font-size: 13px;
    padding: 3px 5px;
    // background-color: red
  }

  &__right-meta-txt {
    @include display();
    @include inter();
    gap: 8px;
    color: white;
    border-top: 1px solid $text-light;
    padding: 3px 5px;
    width: 100%;
    justify-content: start;
    gap: 3%;
    flex-wrap: wrap;
  }

  &__right-meta-st {
    opacity: 0.4;
    font-size: 14px;
  }

  &__left-top {
    @include display();
    justify-content: start;
    // background-color: red;
    width: 100%;
    // border-bottom: 1px solid $darkest-gray;
    border-bottom: 1px solid $text-light;
    padding: 5px;
    gap: 13px;
  }

  &__left-top-tabs {
    @include inter();
    font-size: 12px;
    padding: 5px 8px;
    // border: 1px solid $darkest-gray;
    // color: $darkest-gray;
    color: $text-color;
    border-radius: 6px;
    // background-color: rgba(128, 128, 128, 0.091);
    background-color: $main-color-bg;
    opacity: 0.8;
    &:active {
      background-color: rgba(207, 207, 210, 0.243) !important;
      opacity: 0.6;
      color: white;
      cursor: pointer;
    }
    // background-color: red;
  }

  &__terminal {
    flex-grow: 1;
    width: 100%;
    // max-height: 305px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #0d1117;
    padding: 15px 0px 15px 15px;
    height: 300px;
    overflow-y: auto;
    color: #c9d1d9;
    transition: all 0.3s ease-in-out;
    max-height: 700px;
    font-family: "JetBrains Mono", monospace;
    /* Scrollbar dizayni */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #0d1117;
    }

    &::-webkit-scrollbar-thumb {
      background: #30363d;
      border-radius: 10px;
      border: 2px solid #0d1117;

      &:active {
        background: #484f58;
      }
    }
  }

  .max-terminal {
    height: 70vh !important;
  }

  .max-left-t {
    transform: scale(1.03) translateY(10px);
  }

  &__right-meta-data {
    @include display();
    position: relative;
    top: 5px;
    max-width: 200px;
    overflow: auto;
    overflow-y: hidden;
    // ... mavjud kodlaringiz ...
    overflow-x: auto; // Faqat eniga scroll paydo bo'ladi
    white-space: nowrap; // Matn keyingi qatorga o'tib ketmasligi uchun
    padding-bottom: 8px; // Scrollbar matnga yopishib qolmasligi uchun
    font-size: 13.5px;;
    /* Scrollbar uslubi (Chrome, Safari, Edge uchun) */
    &::-webkit-scrollbar {
      height: 2px; // Scrollbarning qalinligi
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05); // Yo'lakcha rangi
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #238636; // Terminalingizdagi yashil rang bilan bir xil
      border-radius: 10px;
      &:active {
        background: #2ea043; // Ustiga borganda biroz yorqinlashadi
      }
    }

    /* Firefox uchun */
    scrollbar-width: thin;
    scrollbar-color: #238636 rgba(255, 255, 255, 0.05);
  }

  &__current-line {
    display: block;
  }

  &__prompt {
    color: rgb(92, 247, 92);
    word-break: break-all;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    // position: relative;
    // top: 4px;
  }

  &__input {
    outline: none;
    word-break: break-all;
    font-size: 12px;
    padding: 0px 10px 0px 0px;

    &:hover {
      cursor: text;
    }
    // background-color: red;
  }

  &__input:empty::before {
    content: "/";
    position: relative;
    top: -4px;
    display: inline-block;
    width: 50%;
    height: 1em;
    vertical-align: middle;
    animation: blink 0.9s infinite;
    margin-left: 2px;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &__terminal::selection {
    background-color: rgba(255, 255, 255, 0.606);
    color: rgb(70, 70, 70);
  }

  &__history {
    color: #e6edf3 !important;
    font-size: 12px;
    // background-color: red;
  }

  &__header {
    position: relative;
    // background: #2d3748;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }
  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
  }
  &__red {
    background: #ff5f56;
  }
  &__yellow {
    background: #ffbd2e;
  }
  &__green {
    background: #27c93f;
  }
  &__terminal-title {
    @include display();
    @include inter();
    color: #a0aec0;
    font-size: 11px;
    margin-left: 10px;
    gap: 4px;
    // background-color: red;
  }
  
  &__terminal-lv {
    position: relative;
    top: 0.5px;
  }

  &__right-cp {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  &__right-cpt {
    @include inter();
    @include hoverLink();
    @include hoverCursor();
    font-size: 11px;
    color: $link;
    max-width: 100px;
    // background-color: red;
  }
}
@media (max-width: 1125px) {
  .main-t {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    &__left {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__right-l {
      width: 100%;
    }

    &__right-l:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &__right-l:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 100%;
      flex-grow: 1;
    }

    &__right-boxes-meta {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &__right-boxes-deg {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    &__right-act {
      grid-column: 1/2 !important;
      grid-row: 2/3 !important;
    }

    &__right-nuc {
      grid-row: 3/4 !important;
      grid-column: 1/2 !important;
    }
    &__right-cp {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__right {
      grid-row: 1/2;
      grid-column: 1/2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto;
      margin: auto;
      justify-content: center;

      width: 100%;
      gap: 20px;
      max-width: none;
    }

    &__left-top-tabs {
      font-size: 11px;
      padding: 5px;
      // background-color: red;
    }

    &__left-top {
      flex-wrap: wrap;
    }

    &__terminal {
      font-size: 12px;
      // background-color: red;
    }
  }
}

@media (max-width: 500px) {
  .main-t {
    // background-color: red;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    &__terminal {
      font-size: 10px;
    }

    &__right-l {
      width: 100%;
    }

    &__right-l:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__right-l:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__right-cp {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__right-act {
      grid-column: 1/2 !important;
      grid-row: 2/3 !important;
    }

    &__right-nuc {
      grid-row: 3/4 !important;
      grid-column: 1/2 !important;
    }

    &__right-boxes-meta {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &__right-boxes-deg {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    &__right {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto;
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__left-top-tabs {
      font-size: 14px;
    }

    &__left{
      grid-row: 2/3;
      grid-column: 1/2;
      // background-color: blue;
    }
  }
}
