.main-part {
  flex-grow: 1;

  &__kpi-cards {
    @include display();
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 2% 1% 0% 1%;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    // max-width: 2440px;
  }

  &__wrap-form {
    // @include display();
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto 40px;
    gap: 10px;
    width: 100%;
    height: 300px;
  }

  &__txt-stat {
    @include display();
    align-items: start;
    justify-content: start;
    gap: 15px;
    grid-column: 1/3;
    // background-color: rgba(255, 0, 0, 0.302);
    grid-row: 4/5;
    flex-wrap: wrap;
  }

  &__txt-stat-t {
    @include inter();
    @include display();
    gap: 4px;
    font-size: 13px;
    color: $darkest-gray;
  }

  &__txt-stat-s-veri {
    color: $dna-a;
  }

  &__txt-stat-s-ram,
  &__txt-stat-s-v {
    @include hoverLink();
    color: $link;
  }

  &__txt-stat-cpu {
    position: relative;
    top: 1px;
    left: -1px;
    width: 12px;
    opacity: 0.7;
  }

  &__txt-stat-dot {
    width: 5px;
    position: relative;
    top: -2px;
    color: $dna-a
  }

  &__form {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 100%;
  }

  &__txa {
    @include standard-box-borders();
    @include jet();
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 20px;
    color: $text;
    // background-color: $header;
    background-color: #1e293b42;
    resize: none;
    outline: none;
    max-width: 100%;
    color: #f8fafc;
    resize: none;
    text-transform: uppercase;
    &:hover {
      border: 1px solid rgba(30, 157, 231, 0.785);
      &::placeholder {
        opacity: 0.6;
        color: rgba(30, 157, 231, 0.292);
      }
    }
    // SCSS da scrollbar dizayni
    &::-webkit-scrollbar {
      width: 6px; // Skrollbarni ingichka qilamiz
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent; // Yo'lakcha (track) fon bilan bir xil bo'ladi
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(
        255,
        255,
        255,
        0.1
      ); // Skrollning o'zi (tutqichi) xira oq
      border-radius: 10px; // Burchaklarni yumaloq qilamiz

      &:hover {
        background: rgba(
          255,
          255,
          255,
          0.2
        ); // Sichqoncha borganda bir oz yorishadi
      }
    }

    // Firefox uchun (u hozircha faqat shu ikkitasini qo'llaydi)
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  &__txa::placeholder {
    opacity: 0.3;
  }

  &__chart {
    @include display();
    @include standard-box-borders();
    grid-template: 2/3;
    grid-row: 1/4;
    height: 100%;

    background-color: $border;
    opacity: 0.8;
  }

  &__chart-live {
    @include display();
    align-items: start;
    justify-content: start;
    padding: 0px;
    // background-color: red;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  &__chart-live-t {
    @include display();
    @include inter();
    gap: 5px;
    color: $dna-a;
    font-size: 12px;
  }

  &__chart-dot {
    position: relative;
    top: -2px;
    width: 4px;
  }

  &__chart-points {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    // grid-column: 4/5;
    grid-row: 2/4;
    width: 100%;
    // background-color: red;
    max-width: 195px;
    border: 1px solid rgba(128, 128, 128, 0.14);
    border-radius: 8px;
    // background-color: red
  }

  &__chart-copy-t {
    @include inter();
    @include display();
    @include hoverLink();
    gap: 4px;
    padding: 5px;
    width: 100%;
    justify-content: end;
    color: $link;
    font-size: 11px;
  }

  &__chart-copy-i {
    width: 13px;
  }

  &__chart-title {
    @include jet();
    font-size: 16px;
    color: gray;
  }

  &__chart-pt {
    @include inter();
    @include display();
    align-items: start;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.14);
    font-size: 13px;
    width: 100%;
    // background-color: red;
    padding: 3px;
    overflow: auto;
    gap: 5px;
    color: rgba(167, 171, 171, 0.475);
    font-weight: 300;
    flex-grow: 1;
    // word-break: break-all;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__chart-amount {
    color: rgba(63, 234, 237, 0.475);
  }

  &__chart-spt {
    color: rgba(63, 234, 237, 0.475);
  }

  &__chart-pt:nth-child(1) {
    border-top: none;
  }

  &__ts {
    @include inter();
    grid-column: 3/4;
    grid-row: 4/5;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid rgba(0, 128, 0, 0.422);
    background-color: rgba(8, 99, 8, 0.566);
    box-shadow: 0px 0px 10px -4px green;
    color: $text;
    font-size: 20px;
    height: 40px;
    align-self: end;
    &:hover {
      background-color: rgba(30, 105, 30, 0.6);
    }

    &:active {
      background-color: rgb(8, 99, 8);
    }
  }

  &__kpis {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    gap: 10px;
  }

  &__apart-kt {
    @include display();
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    // color: $text-dark;
    color: gray;
    font-size: 12px;
  }

  &__apart {
    @include display();
    @include standard-box-borders();
    @include inter();
    position: relative;
    justify-content: start;
    padding: 10px 15px;
    background-color: #1e293b38;
    font-weight: 500;
    // opacity: 0.8 !important;
    word-break: break-all;
    max-width: 500px;
    width: 100%;
  }

  &__circles {
    position: absolute;
    width: 8px;
    top: 6px;
    right: 6px;
    opacity: 0.3;
    background-color: transparent;
    border-radius: 100%;
  }

  &__circles-1 {
    @include animate-circle(rgba(217, 43, 217, 0.755));
    color: rgb(118, 18, 118) !important;
    background-color: rgb(118, 18, 118);
  }

  &__circles-2 {
    @include animate-circle(rgb(77, 222, 77));
    color: $dna-a;
    background-color: $dna-a;
  }

  &__circles-3 {
    @include animate-circle(rgb(255, 196, 21));
    color: $dna-g;
    background-color: $dna-g;
  }
  &__circles-4 {
    @include animate-circle($dna-c);
    color: $dna-c;
    background-color: $dna-c;
  }

  &__apart-n {
    @include space();
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
  }

  &__chart-nucs-a {
    color: $dna-a;
    opacity: 0.6;
  }
  &__chart-nucs-t {
    color: $dna-t;
    opacity: 0.6;
  }
  &__chart-nucs-g {
    color: $dna-g;
    opacity: 0.6;
  }
  &__chart-nucs-c {
    color: $dna-c;
    opacity: 0.6;
  }
}

// @media (min-width: 900px) and (max-width: 1125px) {
//   .main-part{
//     &__wrap-form {
//       grid-template-columns: auto !important;
//       grid-template-rows: auto auto auto !important;
//     }

//     &__form {
//       gr
//     }
//   }
// }

@media (min-width: 500px) and (max-width: 1125px) {
  .main-part {
    &__kpi-cards {
      padding: 3% 4% 0% 1%;
    }

    &__txt-stat {
      grid-row: 2/3;
      grid-column: 1/5;
      align-self: end;
      flex-wrap: wrap;
      gap: 5px;
    }

    &__ts {
      font-size: 12px;
      padding: 8px 10px;
      grid-column: 3/4;
      grid-row: 5/6;
      height: auto;
    }

    &__form {
      grid-column: 1/5;
      grid-row: 1/2;
    }

    &__chart-live {
      grid-template: 4/5;
      grid-row: 3/4;
    }

    &__chart-points {
      grid-column: 4/5;
      grid-row: 4/5;
      justify-self: end;
      max-width: none;
      // margin-top: 30px;
    }

    &__txa {
      font-size: 10px;
      height: 160px;
    }

    &__apart {
      font-size: 9px;
      padding: 5px;
    }

    &__kpis {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }

    &__apart {
      padding: 10px 25px;
      max-width: none;
    }

    &__apart-kt {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__wrap-form {
      grid-template-columns: auto auto auto auto !important;
      grid-template-rows: auto auto auto auto auto !important;
      height: auto;
    }

    &__chart {
      grid-column: 1/4;
      grid-row: 3/5;
      // height: 180px;
      width: 100%;
      max-width: none;
    }

    &__apart-n {
      font-size: 20px;
      overflow: auto;
    }

    &__apart-kt {
      font-size: 10px;
    }

    &__chart-title {
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .main-part {
    &__kpi-cards {
      padding: 3% 3% 0% 2%;
    }

    &__ts {
      position: fixed;
      font-size: 10px;
      height: auto;
      padding: 5px 7px;
      bottom: 10px;
      right: 10px;
      z-index: 2;
      backdrop-filter: blur(5px);
      // display: none;
    }

    &__txt-stat {
      display: none;
    }

    &__form {
      grid-column: 1/4;
      grid-row: 1/2;
    }

    &__txa {
      display: none;
    }

    &__apart {
      font-size: 9px;
      padding: 5px;
    }

    &__kpis {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }

    &__apart {
      padding: 10px 25px;
      max-width: none;
    }

    &__apart-kt {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__wrap-form {
      grid-template-columns: auto !important;
      grid-template-rows: none !important;
      height: auto;
    }

    &__chart {
      grid-column: 1/5;
      grid-row: 1/2;
      height: 160px;
    }

    &__apart-n {
      font-size: 20px;
      overflow: auto;
    }

    &__apart-kt {
      font-size: 10px;
    }

    &__chart-title {
      font-size: 10px;
    }

    &__chart-live {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__chart-points {
      grid-column: 1/5;
      max-width: none;
      grid-row: 3/4;
    }
  }
}
