.main-part {
  @include display();
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-grow: 1;
  // padding: 1% 8% 0% 10%;
  padding: 30px 3% 0px 4%;
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
  // min-width: 800px;
  grid-row: 2/3;
  grid-column: 1/3;
  // z-index: -1;
  &__kpi-cards {
    @include display();
    justify-content: space-between;
    align-items: start;
    width: 100%;
    // padding: 2% 1% 0% 1%;
    flex-direction: column;
    gap: 20px;
    // align-items: end;
    // background-color: rgb(103, 49, 49);
    // max-width: 2440px;
    // min-width: 1000px;
  }

  &__wrap-form {
    // @include display();
    display: grid;
    grid-template-columns: 35% auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 15px;
    // background-color: red;
    width: 100%;
    // height: 300px;
    // max-width: 1500px;
  }

  &__txt-stat-db {
    @include display();
    justify-content: end;
    align-items: start;
    gap: 10px;

    grid-column: 3/4;
    grid-row: 5/6;
  }

  &__txt-stat-di {
    width: 16px;
    position: relative;
    top: 2px;
    left: 2px;
    color: $text-color;
  }

  &__txt-stat-d {
    // @include display();
    // @include inter();
    // @include hoverCursor();
    // gap: 5px;
    // font-size: 12px;
    // background-color: $buttons-bg;
    // // width: 125px;
    padding: 0px 5px;
    height: 28px !important;
    // border-radius: 8px;
    // color: $text-color;
    // border: 1px solid rgba(28, 106, 195, 0.686);
    // font-weight: 600;
    // opacity: 0.8;
    // &:active {
    //   cursor: pointer;
    //   opacity: 1;
    // }
    @include blueButtons();
  }

  &__txt-stat {
    @include display();
    align-items: center;
    justify-content: start;
    gap: 10px;
    grid-column: 1/2;
    // background-color: rgba(255, 0, 0, 0.302);
    grid-row: 5/6;
    flex-wrap: wrap;
    // height: 100px;
  }

  &__txt-stat-t {
    @include inter();
    @include display();
    gap: 4px;
    font-size: 13px;
    color: $secondary-color;
    // opacity: 0.5;
  }

  &__txt-stat-s-veri {
    color: $dna-a;
  }

  &__txt-stat-s-ty {
    font-weight: 600;
    color: $secondary-color;
    background-color: $text-lightS;
    padding: 3px 5px;
    border-radius: 8px;
    border: 1px solid $text-lightS;
  }

  &__txt-stat-s-ram,
  &__txt-stat-s-v {
    @include hoverLink();
    @include hoverCursor();
    color: $link;
  }

  &__txt-stat-cpu {
    position: relative;
    top: 1px;
    left: -1px;
    width: 12px;
    opacity: 0.7;
  }

  &__txt-stat-dot {
    width: 5px;
    position: relative;
    top: -2px;
    color: $dna-a;
  }

  &__form {
    grid-column: 1/4;
    grid-row: 2/5;
    width: 100%;
    // height: 250px
  }

  &__txa {
    // @include standard-box-borders();
    @include jet();
    @include display();
    // @include hoverCursor();
    width: 100%;
    height: 100%;
    min-height: 300px;
    // height: 300px;
    padding: 8px;
    font-size: 20px;
    color: $text-color;
    // background-color: $header;
    // background-color: #1e293b42;
    // background-color: #1e1e1e;
    // background-color: #0d111795;
    background-color: #12182283;
    // background-color: #131922a4;
    // background-color: #000000;
    border-radius: 8px;
    // border: 1px solid #30363d;
    border: 1px solid $text-light;
    resize: none;
    outline: none;
    max-width: 100%;
    color: #f8fafc;
    resize: none;
    text-transform: uppercase;
    &:active {
      // border: 1px solid rgba(158, 163, 166, 0.589);
      border: 1px solid #58a6ff;
      background-color: #161b22;
      &::placeholder {
        opacity: 0.6;
        color: rgba(30, 157, 231, 0.292);
      }
    }

    &::placeholder{
      @include display();
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
    // SCSS da scrollbar dizayni
    &::-webkit-scrollbar {
      @include hoverCursor();
      width: 6px; // Skrollbarni ingichka qilamiz
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent; // Yo'lakcha (track) fon bilan bir xil bo'ladi
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(
        255,
        255,
        255,
        0.1
      ); // Skrollning o'zi (tutqichi) xira oq
      border-radius: 10px; // Burchaklarni yumaloq qilamiz

      &:active {
        background: rgba(
          255,
          255,
          255,
          0.2
        ); // Sichqoncha borganda bir oz yorishadi
      }
    }

    // Firefox uchun (u hozircha faqat shu ikkitasini qo'llaydi)
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  &__txa::placeholder {
    opacity: 0.3;
  }

  &__chart {
    @include display();
    @include standard-box-borders();
    grid-template: 4/5;
    grid-row: 2/5;
    height: 100%;
    // width: 420px;
    // width: 100%;
    background-color: $border;
    opacity: 0.8;
  }

  &__chart-svg {
    max-width: 400px;
    width: 100%;
    max-height: 170px;
    opacity: 1;
  }

  &__chart-live {
    @include display();
    align-items: start;
    justify-content: start;
    padding: 0px;
    // background-color: red;
    grid-column: 5/6;
    grid-row: 2/3;
  }

  &__chart-live-t {
    @include display();
    @include inter();
    gap: 5px;
    color: $dna-a;
    font-size: 12px;
  }

  &__chart-dot {
    position: relative;
    color: $dna-a;
    top: -2px;
    width: 4px;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  &__chart-points {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    grid-row: 3/6;
    width: 100%;
    max-width: 195px;
    max-height: 292px;
    border: 1px solid $text-light;
    border-radius: 8px;
  }

  &__chart-copy-t {
    @include inter();
    @include display();
    @include hoverLink();
    @include hoverCursor();
    gap: 4px;
    padding: 5px;
    width: 100%;
    justify-content: end;
    color: $link;
    font-size: 11px;
  }

  &__chart-copy-i {
    width: 13px;
  }

  &__chart-title {
    @include jet();
    font-size: 16px;
    color: $text-color;
  }

  &__chart-pt {
    @include inter();
    @include display();
    align-items: start;
    justify-content: space-between;
    border-top: 1px solid $text-light;
    font-size: 13px;
    width: 100%;
    padding: 3px;
    overflow: auto;
    gap: 5px;
    color: $text-color;
    font-weight: 300;
    flex-grow: 1;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__chart-pt-sst{
    background-color: $text-light;
  }

  &__chart-amount {
    color: rgba(63, 234, 237, 0.475);
  }

  &__chart-spt {
    color: rgba(63, 234, 237, 0.475);
  }

  &__chart-pt:nth-child(1) {
    border-top: none;
  }

  &__chart-pt:nth-child(10) {
    border-radius: 0px 0px 7px 7px;
  }

  &__ts {
    // @include inter();
    // @include hoverCursor();
    grid-column: 4/5;
    grid-row: 5/6;
    // padding: 8px 20px;
    // border-radius: 8px;
    // font-weight: 500;
    // // border: 1px solid rgba(0, 246, 0, 0.422);
    // // background-color: #238636;
    // background-color: #359638ca;
    // border: 1px solid #42c05f75;

    // box-shadow: 0px 0px 10px -4px rgb(22, 22, 22);
    // color: $text-color;
    // font-size: 15px;
    height: 35px !important;
    // align-self: flex-start;
    // &:active {
    //   opacity: 0.9;
    // }
    // &:active {
    //   background-color: #52b455ca;
    // }
    @include greenButtons();
  }

  &__kpis {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    gap: 5px;
  }

  &__apart-kt {
    @include display();
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    color: $text-color;
    font-size: 12px;
  }

  &__apart {
    @include display();
    @include standard-box-borders();
    @include inter();
    position: relative;
    justify-content: start;
    padding: 10px 15px;
    border: 1px solid $text-light;
    box-shadow: 0px 0px 10px 0px rgba(56, 55, 55, 0.259);
    font-weight: 500;
    word-break: break-all;
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.03); /* Shaffof fon */
    backdrop-filter: blur(10px); /* Orqa fonni xiralashtirish */
  }

  &__circles {
    position: absolute;
    width: 8px;
    top: 6px;
    right: 6px;
    opacity: 0.3;
    background-color: transparent;
    border-radius: 100%;
  }

  &__circles-1 {
    @include animate-circle(rgba(217, 43, 217, 0.755));
    color: rgb(118, 18, 118) !important;
    background-color: rgb(118, 18, 118);
  }

  &__circles-2 {
    @include animate-circle(rgb(77, 222, 77));
    color: $dna-a;
    background-color: $dna-a;
  }

  &__circles-3 {
    @include animate-circle(rgb(255, 196, 21));
    color: $dna-g;
    background-color: $dna-g;
  }
  &__circles-4 {
    @include animate-circle($dna-c);
    color: $dna-c;
    background-color: $dna-c;
  }

  &__apart-n {
    @include space();
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
  }

  &__chart-nucs-a {
    color: $dna-a;
    opacity: 0.6;
  }
  &__chart-nucs-t {
    color: $dna-t;
    opacity: 0.6;
  }
  &__chart-nucs-g {
    color: $dna-g;
    opacity: 0.6;
  }
  &__chart-nucs-c {
    color: $dna-c;
    opacity: 0.6;
  }

  &__sc {
    @include display();
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
    height: 100%;
  }
  &__scrto {
    @include display();
    gap: 8px;
  }
  &__scrbo {
    @include display();
    justify-content: end;
    gap: 8px;
    flex-grow: 1;
  }

  &__sct {
    // @include display();
    // @include hoverCursor();
    // @include inter();
    // @include box();
    // @include buttonShadow();
    padding: 5px 12px;
    // gap: 6px;
    // border-radius: 8px;
    // font-size: 13px;
    // // flex-grow: 1;
    // // background-color: #248527ca;
    // // border: 1px solid #28a72cca;
    // background-color: #359638ca;
    // border: 1px solid #42c05f75;

    // color: $text-color;
    // // font-weight: 500;
    // opacity: 1;

    // &:active {
    //   background-color: #52b455ca;
    // }

    @include greenButtons();
  }

  &__scon {
    // background-color: rgb(98, 13, 98);
    // border: 1px solid rgb(151, 2, 151);
    // background-color: rgba(161, 10, 161, 0.763);
    // background-color: #0d1117;
    // border: 1px solid rgb(175, 3, 175);
    // border: 1.5px solid $text-lightS
    // background-color:#6d28d9;
    // border: 1px solid  #4c1d95
    background-color: #4c1d95;
    border: 1px solid #6d28d9;
  }

  &__sci {
    position: relative;
    top: 2px;
    width: 13px;
  }

  &__sct-save {
    // @include box();
    // @include hover();
    // background-color: $text-light;
    // opacity: 1;
    // border: 1px solid $text-lightS;

    // & svg {
    //   top: 2px;
    // }
    @include greenButtons();
  }

  &__scb {
    @include display();
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 15px 0px;
    width: 100%;
    border-bottom: 1px solid $text-light;
    margin-bottom: 15px;
  }

  &__scr {
    @include display();
    gap: 3px;
    word-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__scrl {
    @include inter();
    font-size: 13px;
    color: white;
    word-wrap: nowrap;
    &:active {
      color: $link;
    }
  }
  &__scrs {
    @include display();
    gap: 3px;
    color: white;
  }

  &__lsi {
    font-weight: 600;
  }

  &__lsienbl {
    color: $dna-a;
  }

  &__ls {
    @include inter();
    padding: 5px 12px;
    border-radius: 8px;
    background-color: $header;
    font-size: 13px;
    color: $text-color;
    border: 1px solid $text-lightS;
    opacity: 0.8;
  }

  &__wft {
    // @include display();
    // justify-content: end;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-row: 1/2;
    grid-column: 1/6;
    justify-content: start;
    align-items: start;
    gap: 12px;
    max-width: 1132px;
    // flex-wrap: wrap-reverse;
  }

  &__fti {
    @include display();
    position: relative;
    max-width: 300px;
  }
  &__ftri {
    @include standard-box-borders();
    border: 1px solid $text-lightS;
    background-color: #4b576721;
    padding: 4px 5px 4px 30px;
    font-size: 15px;
    color: $text-color;
    width: 100%;
    height: 27px;
    opacity: 0.6;
    grid-row: 1/2;
    grid-column: 2/3;
    &:focus {
      opacity: 1;
    }
  }

  &__fti-sli {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 17px;
    height: 17px;
    color: $border;
  }

  &__wfti {
    position: relative;
    top: 1px;
    width: 14px;
    height: 22px;
  }

  &__wftbs {
    // @include display();
    // @include hover();
    // gap: 5px;
    padding: 0px 7px;
    // border: none;
    // @include inter();
    // font-size: 13px;
    // border-radius: 8px;
    // background-color: $text-light;
    // color: $text-color;
    // border: 1px solid $text-lightS;
    // height: 27px;
    // &:hover {
    //   cursor: pointer;
    // }

    // &:active {
    //   color: $text-color;
    // }
    @include grayButtons();
  }

  &__sum {
    // background-color: red;
    grid-row: 1/2;
    grid-column: 3/4;
    // display: none;
  }

  &__sumt {
    @include inter();
    @include display();
    justify-content: start;
    font-size: 13px;
    gap: 5px;
    color: $text-color;
  }

  &__sumarr {
    // @include hoverCursor();
    // @include hover();
    // top: 2px;
    width: 18px;
    // background-color: $text-light;
    // border-radius: 2px;
    // color: white;
    // border: 1px solid $text-lightS;
    @include grayButtons();
  }
  &__wftto {
    @include display();
    gap: 12px;
    flex-wrap: wrap;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media (min-width: 2000px) and (max-width: 10000px) {
  .main-part {
    padding: 3% 5% 0% 5% !important;
    max-width: 2000px;
  }
}

@media (min-width: 500px) and (max-width: 1125px) {
  .main-part {
    padding: 2% 5% 0% 5%;

    &__txt-stat {
      grid-row: 4/5;
      grid-column: 1/4;
      align-self: end;
      flex-wrap: wrap;
      align-self: flex-start;
      gap: 5px;
    }

    &__ts {
      font-size: 12px;
      padding: 8px 10px;
      grid-column: 1/5;
      grid-row: 7/8;
      height: auto;
      align-self: flex-start;
    }

    &__txt-stat-db {
      grid-column: 5/6;
      grid-row: 4/5;
    }

    &__form {
      grid-column: 1/6;
      grid-row: 3/4;
    }

    &__chart-live {
      grid-template: 5/6 !important;
      grid-row: 5/6;
    }

    &__chart-points {
      grid-column: 5/6;
      grid-row: 6/8;
      justify-self: end;
      max-width: none;
    }

    &__txa {
      font-size: 20px;
      height: 160px;
    }

    &__apart {
      font-size: 9px;
      padding: 5px;
    }

    &__kpis {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    &__apart {
      padding: 10px 25px;
      max-width: none;
      align-items: start;
      // max-width: 100px;
    }

    &__apart-kt {
      flex-direction: column;
      justify-content: start;
      flex-wrap: wrap;
    }

    &__wrap-form {
      grid-template-columns: auto auto auto auto !important;
      grid-template-rows: auto auto auto auto auto auto 40px auto !important;
      height: auto;
      width: 100%;
    }

    &__chart {
      grid-column: 1/5;
      grid-row: 5/7;
      width: 100%;
      max-width: none;
    }

    &__apart-n {
      font-size: 20px;
      overflow: auto;
    }

    &__apart-kt {
      font-size: 10px;
    }

    &__chart-title {
      font-size: 10px;
    }

    &__wft {
      grid-row: 1/2;
      grid-column: 1/6;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      justify-content: end;
      // flex-wrap: wrap-reverse !important;
    }
    &__wftto {
      grid-row: 2/3;
      grid-column: 1/3;
      justify-content: end;
    }

    &__sum {
      // grid-row: 2/3;
      // grid-column: 1/6;
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &__ftri {
      grid-row: 1/2;
      grid-column: 1/2;
      // width: 300px;
    }

    &__sumt {
      justify-content: end;
    }
    &__ls {
      @include display();
      gap: 4px;
      font-size: 12px;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 500px) {
  .main-part {
    padding: 3% 15px 0% 15px;
    width: 100%;
    &__ts {
      position: fixed;
      font-size: 10px;
      height: auto;
      padding: 5px 7px;
      bottom: 10px;
      right: 10px;
      z-index: 2;
      backdrop-filter: blur(5px);
    }
    &__fti {
      width: 100% !important;
      grid-row: 1/2;
      grid-column: 1/2;
      max-width: none;
    }
    &__ftri {
      width: 100% !important;
      max-width: none;
      flex-grow: 1;
    }
    &__wftto {
      grid-row: 3/4;
      // width: 100vw;
      flex-grow: 1;
      // flex-wrap: nowrap;
      gap: 5px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__wftbs {
      flex-grow: 1;
      text-wrap: nowrap;
    }

    &__sct {
      font-size: 11px;
      padding: 3px 3px;
      // width: 30px;
      flex-grow: 1;
      border-radius: 5px;
      white-space: nowrap;
      // min-width: 140px;
      // max-width: 140px;
    }
    &__scrbo {
      flex-wrap: wrap;
    }
    &__sci {
      width: 12px;
    }

    &__ls {
      font-size: 11px;
      flex-grow: 1;
      // max-width: 200px;
      border-radius: 5px;
      white-space: nowrap;
      opacity: 0.8;
    }
    &__scrto {
      // flex-wrap: wrap;
      // overflow: auto;
      flex-grow: 1;
      // width: 90vw;
      flex-wrap: wrap;
      justify-content: start;
      gap: 5px;
      // justify-content: space-between;
    }

    &__txt-stat-db {
      grid-column: 1/2;
      grid-row: 7/8;
    }
    &__txt-stat-d {
      width: 100%;
      gap: 15px;
    }
    &__txt-stat {
      display: none;
    }

    &__form {
      grid-column: 1/2;
      grid-row: 3/4;
      padding: 0px !important;
      width: 100%;
    }

    &__txa {
      width: 100% !important;
      max-width: none !important;
    }

    &__kpis {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    &__apart {
      font-size: 9px;
      padding: 10px 14px;
      max-width: none;
      width: auto;
    }

    &__apart:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &__apart:nth-child(2) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    &__apart:nth-child(3) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    &__apart:nth-child(4) {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    &__apart-kt {
      flex-direction: column;
      align-items: center;
      max-width: 200px;
    }

    &__wrap-form {
      grid-template-columns: auto !important;
      grid-template-rows: auto auto auto auto auto auto auto !important;
      height: auto;
      width: 100%;
    }

    &__chart {
      grid-column: 1/2;
      grid-row: 4/5;
      height: 160px;
      // display: none;
    }

    &__apart-n {
      font-size: 20px;
      overflow: auto;
    }

    &__apart-kt {
      font-size: 10px;
    }

    &__chart-title {
      font-size: 10px;
    }

    &__chart-live {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &__chart-points {
      grid-column: 1/2;
      max-width: none;
      grid-row: 6/7;
    }
    &__wft {
      grid-row: 1/2;
      grid-column: 1/2;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      width: 100% !important;
      justify-content: none;
    }
    &__sum {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    &__sumt {
      justify-content: end;
      align-items: start;
    }
    &__sumbr {
      word-break: break-all;
    }
  }
}
