@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin jet() {
  font-family: "JetBrains Mono";
}

@mixin space() {
  font-family: "Space Grotesk";
}

@mixin inter() {
  font-family: "Inter";
}

@mixin hoverLink() {
  &:active {
    text-decoration: underline;
    cursor: pointer;
  }
}
@mixin hoverCursor() {
  cursor: pointer;
}

@mixin box() {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid $light-border;
  opacity: 0.5;
}

@mixin standard-box-borders() {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid $text-light;
}


@mixin hover() {
  &:active {
    background-color: rgba(207, 207, 210, 0.243) !important;
    opacity: 0.6;
    cursor: pointer;
  }
}

@mixin hoverNormal() {
  &:active {
    background-color: rgba(207, 207, 210, 0.082) !important;
    cursor: pointer;
  }
}


@mixin hoverNavCards() {
  &:active {
    border-left: 2px solid $dna-c !important;
  }
}

@mixin animate-circle($color) {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @keyframes animate-circle-key {
    0% {
      box-shadow: 0px 0px 10px 0px $color;
    }
    50% {
      box-shadow: 0px 0px 15px 1px $color;
    }
    100% {
      box-shadow: 0px 0px 10px 0px $color;
    }
  }
}
