@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin jet() {
  font-family: "JetBrains Mono";
}

@mixin space() {
  font-family: "Space Grotesk";
}

@mixin inter() {
  font-family: "Inter";
}

@mixin hoverLink() {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: $link;
    }
  }
  &:active {
    text-decoration: underline;
    cursor: pointer;
    color: $link;
  }
}
@mixin hoverCursor() {
  cursor: pointer;
}

@mixin box() {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid $light-border;
  opacity: 0.5;
}

@mixin standard-box-borders() {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid $text-light;
}

@mixin buttonShadow() {
  box-shadow: 0px 2px 5px 1px rgba(22, 22, 22, 0.74);
}

@mixin hover() {
  &:active {
    background-color: rgba(207, 207, 210, 0.243) !important;
    opacity: 0.6;
    cursor: pointer;
  }
}

@mixin hoverNormal() {
  &:active {
    background-color: rgba(207, 207, 210, 0.082) !important;
    cursor: pointer;
  }
}

@mixin hoverNavCards() {
  &:active {
    border-left: 2px solid $dna-c !important;
  }
}

@mixin animate-circle($color) {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  @keyframes animate-circle-key {
    0% {
      box-shadow: 0px 0px 10px 0px $color;
    }
    50% {
      box-shadow: 0px 0px 15px 1px $color;
    }
    100% {
      box-shadow: 0px 0px 10px 0px $color;
    }
  }
}

@mixin charOrder($per, $ord) {
  width: $per;
  order: -$ord;
}

@mixin grayButtons() {
  @include inter();
  @include display();
  @include hoverCursor();
  @include buttonShadow();
  outline: none;
  height: 100%;
  max-height: 45px;
  border-radius: 8px;
  font-size: 12px;
  gap: 8px;
  border: 1px solid $text-lightS;
  background-color: $dash-side;
  color: $secondary-color;
  text-transform: capitalize;
  opacity: 0.9;
}

@mixin greenButtons() {
  @include grayButtons();
  background-color: #359638a8;
  border: 1px solid #42c05f75;
  color: $text-color;
  & svg {
    color: $text-color;
    opacity: 1;
  }
}

@mixin blueButtons() {
  @include grayButtons();
  background-color: $buttons-bg;
  border: 1px solid rgba(28, 106, 195, 0.686);
  color: $text-color;
}

@mixin maxOverflow($px) {
  width: $px;
  max-width: $px !important;
  overflow: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin grayButtonsHover() {
  opacity: 0.9 !important;

  &:active {
    opacity: 1 !important;
    background-color: $text-light !important;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $text-light !important;
      opacity: 0.8 !important;
      cursor: pointer;
    }

    &:active{
      background-color: $text-light !important;
      opacity: 1 !important;
      cursor: pointer;
    }
  }
}
