.navigation-menu {
  @include display();
  // position: fixed;
  align-items: start;
  padding: 0px 5px;
  // width: 12vw;
  width: 100%;
  // background-color: $sidebar-dark;
  // background-color: #1117205e;
  // background-color: #0d1117b1;
  // background-color: #0809129d;
  // background-color: #12141cb9;
  // background-color: #0e1016a4;
  // background-color: #0e101673;
  // background-color: #0d0e1c84;
  background-color: #0c101a84;

  // min-height: 90vh;
  border-right: 1px solid $text-light;
  // border-bottom: 1px solid $text-light;
  border-bottom: 1px solid $border;

  grid-column: 1/2;
  grid-row: 1/2;

  &__boxes {
    @include display();
    // flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 100%;
    padding: 2px 0px;
  }
  &__cards-w {
    padding: 3px 5px;
    border-bottom: 1px solid transparent;
    &:active {
      // border-bottom: 1px solid $dna-g;
      cursor: pointer;
    }
  }

  &__cards {
    @include display();
    @include hoverCursor();
    // @include box();
    // @include hover();
    // @include hoverNavCards();
    gap: 6px;
    // opacity: 1 !important;
    padding: 8px 5px;
    // width: 100%;
    justify-content: start;
    border: none !important;
    // height: 40px;
    border-left: 2px solid transparent !important;
    border-radius: 8px;
    &:active {
      background-color: $text-light;
      transition: all 0.1s ease-in-out;
    }
  }

  &__cards-i {
    color: $text-color;
    flex-shrink: 0;
    width: 25px;
    height: 20px;
    opacity: 0.7;
  }

  &__cards-t {
    @include inter();
    color: $text-color;
    overflow-y: auto;
    padding: 0px 0px;
    font-size: 13px;
  }

  &__cards-t::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .navigation-menu {
    // width: 60px;
    width: 100%;
    &__cards {
      justify-content: center;
    }
    &__cards-t {
      // display: none;
    }
  }
}

@media (max-width: 500px) {
  .navigation-menu {
    width: 100%;
    min-height: 0px;
    padding: 0% 5px;

    &__boxes {
      flex-direction: row;
      justify-content: start;
      gap: 3px;
    }

    &__cards {
      width: auto;
      padding: 5px 10px;
    }

    &__cards-t{
      display: none;
    }
  }
}
