$text-light: #4b57675f; // for borders
$text-lightS: #3a424bb3;
$success-green: #10b981;
$error-red: #ef4444;
$header: #1f2835; // dashboard__menu
$light-border: #f3f4f692; // mixin box navbar icons
$border: #70707092; // chart color
// $link: rgba(37, 70, 191, 0.764); // link
$link: rgb(46, 85, 226);
$black: rgb(13, 12, 12); // black
// $text-color: #e6edf3d3; // for light text
$text-color: white;
// $secondary-color:rgba(167, 171, 171, 0.475); // for gray text
$secondary-color: rgb(205, 205, 205);
// $main-color-bg: #161b22; // for background
// $main-color-bg: #1e242d; // for background
// $main-color-bg: #212730; // for background
$main-color-bg: #1c232bf9;
$buttons-bg: rgba(28, 106, 195, 0.686);
$bg-dark-blue: #0c101a84;
$bg-dark-blue: #0c0f1784;
// $dash-side: #2a3036aa;
$dash-side: #222b33dc;
// DNK harflari uchun (optional)
$dna-a: #4caf50;
$dna-t: #f44336;
$dna-g: #ff9800;
$dna-c: #2196f3;

$war-bg: #b168145d;
