$bgMainColor: #f4f7f9;
// _variables.scss
$bg-main: #f8fafcfa;
$sidebar-dark: #0f172a;
$text-dark: #1f2937;
$text-light: #4b57675f;
$primary-blue: #3b82f6;
$success-green: #10b981;
$error-red: #ef4444;
$border-color: #e2e8f0;
$header: #1f2835;
$text: #f3f4f6;
$light-border: #f3f4f692;
$border: #70707092;
$main-bg-color: rgba(255, 255, 255, 0.1);
$darkest-gray: rgba(167, 171, 171, 0.475);
$link: rgba(37, 70, 191, 0.764);
$black: rgb(13, 12, 12);
// DNK harflari uchun (optional)
$dna-a: #4caf50;
$dna-t: #f44336;
$dna-g: #ff9800;
$dna-c: #2196f3;
