* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  background-color: rgba(28, 35, 43, 0.9764705882);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; /* Silliq scroll uchun */
  min-height: 100vh;
  /* Scroll to'xtaganda "vaxshiy" effekt berish uchun */
  scroll-snap-type: y proximity;
}

button,
a,
input,
div,
p [role=button] {
  -webkit-tap-highlight-color: transparent !important; /* Mobil brauzerlar uchun */
  -webkit-user-select: none; /* Matnni tasodifan belgilab olmaslik uchun */
  outline: none !important; /* Fokus bo'lgandagi chiziqni yo'qotadi */
}

.choosed {
  color: rgb(89, 117, 155) !important;
  text-decoration: underline;
}

.show {
  animation-name: show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes show {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main {
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 100%;
}

@media (max-width: 500px) {
  .main {
    flex-direction: column;
  }
}
.none {
  display: none !important;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(12, 16, 26, 0.5176470588);
  padding: 10px 20px;
  position: sticky;
  grid-row: 1/2;
  grid-column: 1/3;
  height: auto;
  z-index: 3;
}
.dashboard__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.dashboard__nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.dashboard__title {
  font-family: "Space Grotesk";
  color: white;
}
.dashboard__navbar-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.5;
  justify-content: end;
  gap: 20px;
}
.dashboard__form-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__search-o {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 27%;
  left: 7px;
  color: white;
  opacity: 0.6;
}
.dashboard__header-input {
  font-family: "Inter";
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
  opacity: 0.5;
  padding: 6px 5px 6px 27px;
  font-size: 14px;
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  opacity: 0.8 !important;
}
.dashboard__links {
  font-family: "Inter";
  font-size: 15px;
  color: white;
  display: none;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
}
.dashboard__links:active {
  background-color: rgba(207, 207, 210, 0.243);
  opacity: 0.6;
}
.dashboard__set, .dashboard__lan, .dashboard__not, .dashboard__info, .dashboard__br {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
  opacity: 0.5;
}
.dashboard__set:active, .dashboard__lan:active, .dashboard__not:active, .dashboard__info:active, .dashboard__br:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.dashboard__set, .dashboard__lan, .dashboard__not, .dashboard__info, .dashboard__br {
  cursor: pointer;
  opacity: 0.8;
  padding: 5px 5px 5px 6px;
  color: white;
}
.dashboard__pr {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 3px;
  color: white;
  gap: 5px;
  height: 30px;
  opacity: 0.8;
  padding: 0px;
}
.dashboard__prav {
  width: 33px;
}
.dashboard__prav:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.dashboard__prav {
  border-radius: 50px;
}
.dashboard__pr-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
  opacity: 0.5;
}
.dashboard__pr-more:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.dashboard__pr-more {
  cursor: pointer;
  position: relative;
  padding: 3px 5px;
  color: white !important;
  opacity: 1;
  font-size: 14px;
}
.dashboard__pr-more-t {
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard__pr-arr {
  position: relative;
  top: 2px;
  left: 3px;
}
.dashboard__os {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 7px;
  padding: 0px 0px 0px 0px;
}
.dashboard__br {
  display: none;
}
.dashboard__menu {
  display: none;
}
.dashboard__prarr:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.dashboard__prarr {
  display: none;
  width: 22px;
  height: 100%;
  padding: 0px 3px 0px 3px;
  border-left: 1px solid rgba(243, 244, 246, 0.5725490196);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

@media (max-width: 900px) {
  .dashboard__nav {
    justify-content: end;
    align-items: end;
  }
  .dashboard__nav-left {
    flex-grow: 1;
    justify-content: start;
    gap: 10px;
  }
  .dashboard__header-input {
    display: none;
  }
  .dashboard__sctt {
    display: none !important;
  }
  .dashboard__sct {
    padding: 6px 8px;
  }
  .dashboard__sci {
    width: 13px;
  }
  .dashboard__pr {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(243, 244, 246, 0.5725490196);
    opacity: 0.5;
    cursor: pointer;
    opacity: 0.8;
    padding: 0px 3px 0px 6px;
    padding: 0;
    gap: 0px;
  }
  .dashboard__prarr {
    display: block;
  }
  .dashboard__prav {
    width: 30px;
    padding: 0px 3px 0px 6px;
    height: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  .dashboard__search {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(243, 244, 246, 0.5725490196);
    opacity: 0.5;
  }
  .dashboard__search:active {
    background-color: rgba(207, 207, 210, 0.243) !important;
    opacity: 0.6;
    cursor: pointer;
  }
  .dashboard__search {
    cursor: pointer;
    padding: 5px 5px 5px 6px;
    color: white;
  }
  .dashboard__search-o {
    position: static;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(243, 244, 246, 0.5725490196);
    opacity: 0.5;
  }
  .dashboard__search-o:active {
    background-color: rgba(207, 207, 210, 0.243) !important;
    opacity: 0.6;
    cursor: pointer;
  }
  .dashboard__search-o {
    cursor: pointer;
    padding: 7px;
    color: white;
    opacity: 0.8;
  }
  .dashboard__navbar-options {
    gap: 10px;
  }
  .dashboard__title {
    font-size: 100%;
  }
  .dashboard__set, .dashboard__lan, .dashboard__info, .dashboard__pr-more {
    display: none;
  }
  .dashboard__br {
    display: flex;
  }
  .dashboard__set-menu, .dashboard__lan-menu, .dashboard__info-menu {
    font-family: "Inter";
    font-size: 14px;
    display: flex;
    gap: 4px;
    border: none !important;
  }
  .dashboard__title {
    flex-shrink: 0;
  }
  .dashboard__menu {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
    border: 1px solid rgba(75, 87, 103, 0.3725490196);
    display: flex !important;
    position: absolute;
    background-color: #1f2835;
    top: 55px;
    border-radius: 8px;
    padding: 3px;
    flex-direction: column;
    width: 80vw;
    max-width: 280px;
    right: 10px;
    box-shadow: 0px 0px 10px 0px rgb(13, 12, 12);
  }
}
@media (max-width: 320px) {
  .dashboard__nav-left {
    flex-direction: column-reverse;
    align-items: start;
  }
  .dashboard__menu {
    top: 80px;
  }
}
.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  padding: 0px 5px;
  width: 100%;
  background-color: rgba(12, 16, 26, 0.5176470588);
  grid-row: 1/2;
  grid-column: 1/3;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5725490196);
  height: auto;
  position: relative;
}
.navigation-menu__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: start;
  gap: 10px;
  width: 100%;
  padding: 2px 0px;
}
.navigation-menu__cards-w {
  padding: 3px 5px;
  border-bottom: 1px solid transparent;
}
.navigation-menu__cards-w:active {
  cursor: pointer;
}
.navigation-menu__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  padding: 8px 5px;
  justify-content: start;
  border: none !important;
  border-left: 2px solid transparent !important;
  border-radius: 8px;
}
.navigation-menu__cards:active {
  background-color: rgba(75, 87, 103, 0.3725490196);
  transition: all 0.1s ease-in-out;
}
.navigation-menu__cards-i {
  color: white;
  flex-shrink: 0;
  width: 25px;
  height: 20px;
  opacity: 0.7;
}
.navigation-menu__cards-t {
  font-family: "Inter";
  color: white;
  overflow-y: auto;
  padding: 0px 0px;
  font-size: 13px;
}
.navigation-menu__cards-t::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .navigation-menu {
    width: 100%;
  }
  .navigation-menu__cards {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .navigation-menu {
    width: 100%;
    min-height: 0px;
    padding: 0% 5px;
  }
  .navigation-menu__boxes {
    flex-direction: row;
    justify-content: start;
    gap: 3px;
  }
  .navigation-menu__cards {
    width: auto;
    padding: 5px 10px;
  }
  .navigation-menu__cards-t {
    display: none;
  }
}
.main-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  flex-grow: 1;
  padding: 30px 3% 0px 4%;
  max-width: 1600px;
  width: 100%;
  margin: 0px auto;
  grid-row: 2/3;
  grid-column: 1/3;
}
.main-part__kpi-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.main-part__wrap-form {
  display: grid;
  grid-template-columns: 35% auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 15px;
  width: 100%;
}
.main-part__txt-stat-db {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  align-items: start;
  gap: 10px;
  grid-column: 3/4;
  grid-row: 5/6;
}
.main-part__txt-stat-di {
  width: 16px;
  position: relative;
  top: 2px;
  left: 2px;
  color: white;
}
.main-part__txt-stat-d {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  cursor: pointer;
  gap: 5px;
  font-size: 12px;
  background-color: rgba(28, 106, 195, 0.686);
  padding: 0px 5px;
  height: 28px;
  border-radius: 8px;
  color: white;
  border: 1px solid rgba(28, 106, 195, 0.686);
  font-weight: 600;
  opacity: 0.8;
}
.main-part__txt-stat-d:active {
  cursor: pointer;
  opacity: 1;
}
.main-part__txt-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: start;
  gap: 10px;
  grid-column: 1/2;
  grid-row: 5/6;
  flex-wrap: wrap;
}
.main-part__txt-stat-t {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 13px;
  color: rgb(205, 205, 205);
}
.main-part__txt-stat-s-veri {
  color: #4caf50;
}
.main-part__txt-stat-s-ram:active, .main-part__txt-stat-s-v:active {
  text-decoration: underline;
  cursor: pointer;
}
.main-part__txt-stat-s-ram, .main-part__txt-stat-s-v {
  cursor: pointer;
  color: rgb(46, 85, 226);
}
.main-part__txt-stat-cpu {
  position: relative;
  top: 1px;
  left: -1px;
  width: 12px;
  opacity: 0.7;
}
.main-part__txt-stat-dot {
  width: 5px;
  position: relative;
  top: -2px;
  color: #4caf50;
}
.main-part__form {
  grid-column: 1/4;
  grid-row: 2/5;
  width: 100%;
}
.main-part__txa {
  font-family: "JetBrains Mono";
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 8px;
  font-size: 20px;
  color: white;
  background-color: rgba(18, 24, 34, 0.5137254902);
  border-radius: 8px;
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  resize: none;
  outline: none;
  max-width: 100%;
  color: #f8fafc;
  resize: none;
  text-transform: uppercase;
}
.main-part__txa:active {
  border: 1px solid #58a6ff;
  background-color: #161b22;
}
.main-part__txa:active::-moz-placeholder {
  opacity: 0.6;
  color: rgba(30, 157, 231, 0.292);
}
.main-part__txa:active::placeholder {
  opacity: 0.6;
  color: rgba(30, 157, 231, 0.292);
}
.main-part__txa::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  height: 6px;
}
.main-part__txa::-webkit-scrollbar-track {
  background: transparent;
}
.main-part__txa::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.main-part__txa::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.2);
}
.main-part__txa {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
.main-part__txa::-moz-placeholder {
  opacity: 0.3;
}
.main-part__txa::placeholder {
  opacity: 0.3;
}
.main-part__chart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  grid-template: 4/5;
  grid-row: 2/5;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.5725490196);
  opacity: 0.8;
}
.main-part__chart-svg {
  max-width: 400px;
  width: 100%;
  max-height: 170px;
  opacity: 1;
}
.main-part__chart-live {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: start;
  padding: 0px;
  grid-column: 5/6;
  grid-row: 2/3;
}
.main-part__chart-live-t {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  gap: 5px;
  color: #4caf50;
  font-size: 12px;
}
.main-part__chart-dot {
  position: relative;
  top: -2px;
  width: 4px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.main-part__chart-points {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  grid-row: 3/6;
  width: 100%;
  max-width: 195px;
  max-height: 292px;
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  border-radius: 8px;
}
.main-part__chart-copy-t {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-part__chart-copy-t:active {
  text-decoration: underline;
  cursor: pointer;
}
.main-part__chart-copy-t {
  cursor: pointer;
  gap: 4px;
  padding: 5px;
  width: 100%;
  justify-content: end;
  color: rgb(46, 85, 226);
  font-size: 11px;
}
.main-part__chart-copy-i {
  width: 13px;
}
.main-part__chart-title {
  font-family: "JetBrains Mono";
  font-size: 16px;
  color: white;
}
.main-part__chart-pt {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid rgba(75, 87, 103, 0.3725490196);
  font-size: 13px;
  width: 100%;
  padding: 3px;
  overflow: auto;
  gap: 5px;
  color: white;
  font-weight: 300;
  flex-grow: 1;
}
.main-part__chart-pt::-webkit-scrollbar {
  display: none;
}
.main-part__chart-amount {
  color: rgba(63, 234, 237, 0.475);
}
.main-part__chart-spt {
  color: rgba(63, 234, 237, 0.475);
}
.main-part__chart-pt:nth-child(1) {
  border-top: none;
}
.main-part__ts {
  font-family: "Inter";
  cursor: pointer;
  grid-column: 4/5;
  grid-row: 5/6;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 500;
  background-color: rgba(53, 150, 56, 0.7921568627);
  border: 1px solid rgba(48, 143, 51, 0.7921568627);
  box-shadow: 0px 0px 10px -4px rgb(22, 22, 22);
  color: white;
  font-size: 15px;
  align-self: flex-start;
}
.main-part__ts:active {
  opacity: 0.9;
}
.main-part__ts:active {
  background-color: rgba(82, 180, 85, 0.7921568627);
}
.main-part__kpis {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  gap: 5px;
}
.main-part__apart-kt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-size: 12px;
}
.main-part__apart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  font-family: "Inter";
  position: relative;
  justify-content: start;
  padding: 10px 15px;
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  box-shadow: 0px 0px 10px 0px rgba(56, 55, 55, 0.259);
  font-weight: 500;
  word-break: break-all;
  max-width: 500px;
  width: 100%;
  background: rgba(255, 255, 255, 0.03); /* Shaffof fon */
  backdrop-filter: blur(10px); /* Orqa fonni xiralashtirish */
}
.main-part__circles {
  position: absolute;
  width: 8px;
  top: 6px;
  right: 6px;
  opacity: 0.3;
  background-color: transparent;
  border-radius: 100%;
}
.main-part__circles-1 {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes animate-circle-key {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(217, 43, 217, 0.755);
  }
  50% {
    box-shadow: 0px 0px 15px 1px rgba(217, 43, 217, 0.755);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgba(217, 43, 217, 0.755);
  }
}
.main-part__circles-1 {
  color: rgb(118, 18, 118) !important;
  background-color: rgb(118, 18, 118);
}
.main-part__circles-2 {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes animate-circle-key {
  0% {
    box-shadow: 0px 0px 10px 0px rgb(77, 222, 77);
  }
  50% {
    box-shadow: 0px 0px 15px 1px rgb(77, 222, 77);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgb(77, 222, 77);
  }
}
.main-part__circles-2 {
  color: #4caf50;
  background-color: #4caf50;
}
.main-part__circles-3 {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes animate-circle-key {
  0% {
    box-shadow: 0px 0px 10px 0px rgb(255, 196, 21);
  }
  50% {
    box-shadow: 0px 0px 15px 1px rgb(255, 196, 21);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgb(255, 196, 21);
  }
}
.main-part__circles-3 {
  color: #ff9800;
  background-color: #ff9800;
}
.main-part__circles-4 {
  animation-name: animate-circle-key;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes animate-circle-key {
  0% {
    box-shadow: 0px 0px 10px 0px #2196f3;
  }
  50% {
    box-shadow: 0px 0px 15px 1px #2196f3;
  }
  100% {
    box-shadow: 0px 0px 10px 0px #2196f3;
  }
}
.main-part__circles-4 {
  color: #2196f3;
  background-color: #2196f3;
}
.main-part__apart-n {
  font-family: "Space Grotesk";
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}
.main-part__chart-nucs-a {
  color: #4caf50;
  opacity: 0.6;
}
.main-part__chart-nucs-t {
  color: #f44336;
  opacity: 0.6;
}
.main-part__chart-nucs-g {
  color: #ff9800;
  opacity: 0.6;
}
.main-part__chart-nucs-c {
  color: #2196f3;
  opacity: 0.6;
}
.main-part__sc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: end;
  gap: 8px;
  height: 100%;
}
.main-part__scrto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main-part__scrbo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  gap: 8px;
  flex-grow: 1;
}
.main-part__sct {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Inter";
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
  opacity: 0.5;
  box-shadow: 0px 2px 5px 1px rgba(22, 22, 22, 0.74);
  padding: 5px 12px;
  gap: 6px;
  border-radius: 8px;
  font-size: 13px;
  background-color: rgba(53, 150, 56, 0.7921568627);
  border: 1px solid rgba(48, 143, 51, 0.7921568627);
  color: white;
  opacity: 1;
}
.main-part__sct:active {
  background-color: rgba(82, 180, 85, 0.7921568627);
}
.main-part__scon {
  background-color: #4c1d95;
  border: 1px solid #6d28d9;
}
.main-part__sci {
  position: relative;
  top: 2px;
  width: 13px;
}
.main-part__sct-save {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
  opacity: 0.5;
}
.main-part__sct-save:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.main-part__sct-save {
  background-color: rgba(75, 87, 103, 0.3725490196);
  opacity: 1;
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
}
.main-part__sct-save svg {
  top: 2px;
}
.main-part__scb {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 0px 15px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(75, 87, 103, 0.3725490196);
  margin-bottom: 15px;
}
.main-part__scr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  word-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
}
.main-part__scr::-webkit-scrollbar {
  display: none;
}
.main-part__scrl {
  font-family: "Inter";
  font-size: 13px;
  color: white;
  word-wrap: nowrap;
}
.main-part__scrl:active {
  color: rgb(46, 85, 226);
}
.main-part__scrs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: white;
}
.main-part__lsi {
  font-weight: 600;
}
.main-part__ls {
  font-family: "Inter";
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #1f2835;
  font-size: 13px;
  color: white;
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
  opacity: 0.8;
}
.main-part__wft {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-row: 1/2;
  grid-column: 1/6;
  justify-content: start;
  align-items: start;
  gap: 12px;
  max-width: 1132px;
}
.main-part__fti {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 300px;
}
.main-part__ftri {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
  background-color: rgba(75, 87, 103, 0.1294117647);
  padding: 4px 5px 4px 30px;
  font-size: 15px;
  color: white;
  width: 100%;
  height: 27px;
  opacity: 0.6;
  grid-row: 1/2;
  grid-column: 2/3;
}
.main-part__ftri:focus {
  opacity: 1;
}
.main-part__fti-sli {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 17px;
  height: 17px;
  color: rgba(112, 112, 112, 0.5725490196);
}
.main-part__wfti {
  position: relative;
  top: 1px;
  width: 14px;
  height: 22px;
}
.main-part__wftbs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-part__wftbs:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.main-part__wftbs {
  gap: 5px;
  padding: 0px 5px;
  border: none;
  font-family: "Inter";
  font-size: 13px;
  border-radius: 8px;
  background-color: rgba(75, 87, 103, 0.3725490196);
  color: white;
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
  height: 27px;
}
.main-part__wftbs:hover {
  cursor: pointer;
}
.main-part__wftbs:active {
  color: white;
}
.main-part__sum {
  grid-row: 1/2;
  grid-column: 3/4;
}
.main-part__sumt {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  font-size: 13px;
  gap: 5px;
  color: white;
}
.main-part__sumarr {
  cursor: pointer;
}
.main-part__sumarr:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  cursor: pointer;
}
.main-part__sumarr {
  position: relative;
  top: 2px;
  width: 15px;
  background-color: rgba(75, 87, 103, 0.3725490196);
  border-radius: 2px;
  color: white;
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
}
.main-part__wftto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  grid-row: 1/2;
  grid-column: 1/2;
}

@media (min-width: 2000px) and (max-width: 10000px) {
  .main-part {
    padding: 3% 5% 0% 5% !important;
    max-width: 2000px;
  }
}
@media (min-width: 500px) and (max-width: 1125px) {
  .main-part {
    padding: 2% 5% 0% 5%;
  }
  .main-part__txt-stat {
    grid-row: 4/5;
    grid-column: 1/4;
    align-self: end;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 5px;
  }
  .main-part__ts {
    font-size: 12px;
    padding: 8px 10px;
    grid-column: 1/5;
    grid-row: 7/8;
    height: auto;
    align-self: flex-start;
  }
  .main-part__txt-stat-db {
    grid-column: 5/6;
    grid-row: 4/5;
  }
  .main-part__form {
    grid-column: 1/6;
    grid-row: 3/4;
  }
  .main-part__chart-live {
    grid-template: 5/6 !important;
    grid-row: 5/6;
  }
  .main-part__chart-points {
    grid-column: 5/6;
    grid-row: 6/8;
    justify-self: end;
    max-width: none;
  }
  .main-part__txa {
    font-size: 20px;
    height: 160px;
  }
  .main-part__apart {
    font-size: 9px;
    padding: 5px;
  }
  .main-part__kpis {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .main-part__apart {
    padding: 10px 25px;
    max-width: none;
    align-items: start;
  }
  .main-part__apart-kt {
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
  }
  .main-part__wrap-form {
    grid-template-columns: auto auto auto auto !important;
    grid-template-rows: auto auto auto auto auto auto 40px auto !important;
    height: auto;
    width: 100%;
  }
  .main-part__chart {
    grid-column: 1/5;
    grid-row: 5/7;
    width: 100%;
    max-width: none;
  }
  .main-part__apart-n {
    font-size: 20px;
    overflow: auto;
  }
  .main-part__apart-kt {
    font-size: 10px;
  }
  .main-part__chart-title {
    font-size: 10px;
  }
  .main-part__wft {
    grid-row: 1/2;
    grid-column: 1/6;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: end;
  }
  .main-part__wftto {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: end;
  }
  .main-part__sum {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .main-part__ftri {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main-part__sumt {
    justify-content: end;
  }
  .main-part__ls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 12px;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .main-part {
    padding: 3% 15px 0% 15px;
    width: 100%;
  }
  .main-part__ts {
    position: fixed;
    font-size: 10px;
    height: auto;
    padding: 5px 7px;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    backdrop-filter: blur(5px);
  }
  .main-part__fti {
    width: 100% !important;
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: none;
  }
  .main-part__ftri {
    width: 100% !important;
    max-width: none;
    flex-grow: 1;
  }
  .main-part__wftto {
    grid-row: 3/4;
    flex-grow: 1;
    gap: 5px;
  }
  .main-part__wftto::-webkit-scrollbar {
    display: none;
  }
  .main-part__wftbs {
    flex-grow: 1;
    text-wrap: nowrap;
  }
  .main-part__sct {
    font-size: 11px;
    padding: 3px 3px;
    flex-grow: 1;
    border-radius: 5px;
    white-space: nowrap;
  }
  .main-part__scrbo {
    flex-wrap: wrap;
  }
  .main-part__sci {
    width: 12px;
  }
  .main-part__ls {
    font-size: 11px;
    flex-grow: 1;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0.8;
  }
  .main-part__scrto {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
  }
  .main-part__txt-stat-db {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .main-part__txt-stat-d {
    width: 100%;
    gap: 15px;
  }
  .main-part__txt-stat {
    display: none;
  }
  .main-part__form {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0px !important;
    width: 100%;
  }
  .main-part__txa {
    width: 100% !important;
    max-width: none !important;
  }
  .main-part__kpis {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .main-part__apart {
    font-size: 9px;
    padding: 10px 14px;
    max-width: none;
    width: auto;
  }
  .main-part__apart:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main-part__apart:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .main-part__apart:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .main-part__apart:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .main-part__apart-kt {
    flex-direction: column;
    align-items: center;
    max-width: 200px;
  }
  .main-part__wrap-form {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto auto auto auto !important;
    height: auto;
    width: 100%;
  }
  .main-part__chart {
    grid-column: 1/2;
    grid-row: 4/5;
    height: 160px;
  }
  .main-part__apart-n {
    font-size: 20px;
    overflow: auto;
  }
  .main-part__apart-kt {
    font-size: 10px;
  }
  .main-part__chart-title {
    font-size: 10px;
  }
  .main-part__chart-live {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .main-part__chart-points {
    grid-column: 1/2;
    max-width: none;
    grid-row: 6/7;
  }
  .main-part__wft {
    grid-row: 1/2;
    grid-column: 1/2;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    width: 100% !important;
    justify-content: none;
  }
  .main-part__sum {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .main-part__sumt {
    justify-content: end;
    align-items: start;
  }
  .main-part__sumbr {
    word-break: break-all;
  }
}
.main-t {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 10px 0px 20px 0px;
}
.main-t__left {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2/3;
  background-color: rgb(13, 12, 12);
  border-radius: 8px;
  opacity: 0.8;
  width: 100%;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out;
}
.main-t__right {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  align-items: start;
  grid-column: 1/5;
  grid-row: 1/2;
  min-height: 70%;
  height: auto;
  gap: 30px;
  border-top: 1px solid rgba(75, 87, 103, 0.3725490196);
  padding: 10px 0px;
}
.main-t__right-boxes-nd {
  min-width: 180px;
}
.main-t__right-act {
  grid-column: 2/3;
  grid-row: 2/3;
}
.main-t__right-nuc {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-t__right-boxes-deg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  grid-column: 2/3;
  grid-row: 3/4;
  max-width: 550px;
}
.main-t__right-binfo {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  justify-content: start;
  font-size: 13px;
  color: rgb(205, 205, 205);
}
.main-t__right-binsp {
  font-weight: 600;
}
.main-t__right-l {
  width: 100%;
}
.main-t__right-boxes-t {
  font-family: "Inter";
  font-size: 15px;
  color: rgb(205, 205, 205);
}
.main-t__right-boxes-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: start;
  padding: 10px 0px;
  gap: 10px;
}
.main-t__right-a-txt {
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.093);
  border: 1px solid rgba(75, 87, 103, 0.3725490196);
  font-size: 14px;
  color: white;
  background-color: #1f2835;
  padding: 15px 5px;
}
.main-t__right-a-txt:active {
  background-color: #238636;
  border: 1px solid rgb(28, 177, 28);
  cursor: pointer;
}
.main-t__right-a-i {
  position: relative;
  top: 1px;
  width: 15px;
}
.main-t__right-a-txt:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-t__right-a-txt:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.main-t__right-a-txt:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-t__right-a-txt:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.main-t__right-boxes-n {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.main-t__right-boxes-nucs {
  font-family: "JetBrains Mono";
  min-width: 14px;
  height: 30px;
  font-size: 20px;
  color: white;
}
.main-t__right-nucs-a {
  border-bottom: 2px solid #4caf50;
  color: #4caf50;
  flex-grow: 2;
}
.main-t__right-nucs-t {
  border-bottom: 2px solid #f44336;
  color: #f44336;
  flex-grow: 1;
}
.main-t__right-nucs-g {
  border-bottom: 2px solid #ff9800;
  color: #ff9800;
  flex-grow: 1;
}
.main-t__right-nucs-c {
  border-bottom: 2px solid #2196f3;
  color: #2196f3;
  flex-grow: 3;
}
.main-t__right-boxes-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: auto;
}
.main-t__right-boxes-st {
  font-family: "Inter";
  width: 100%;
  font-size: 15px;
  background-color: #4caf50;
  color: white;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid green;
  box-shadow: 0 0 10px rgba(35, 134, 54, 0.3);
}
.main-t__right-meta-given {
  font-family: "Inter";
  color: white;
  opacity: 0.5;
  font-size: 15px;
}
.main-t__right-meta-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  gap: 8px;
  color: white;
  border-top: 1px solid rgba(75, 87, 103, 0.3725490196);
  padding: 5px 0px;
}
.main-t__right-meta-st {
  opacity: 0.4;
}
.main-t__left-top {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  width: 100%;
  border-bottom: 1px solid rgba(75, 87, 103, 0.3725490196);
  padding: 5px;
  gap: 13px;
}
.main-t__left-top-tabs {
  font-family: "Inter";
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  border-radius: 6px;
  background-color: rgba(28, 35, 43, 0.9764705882);
  opacity: 0.8;
}
.main-t__left-top-tabs:active {
  background-color: rgba(207, 207, 210, 0.243) !important;
  opacity: 0.6;
  color: white;
  cursor: pointer;
}
.main-t__terminal {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #0d1117;
  padding: 15px 0px 15px 15px;
  height: 300px;
  overflow-y: auto;
  color: #c9d1d9;
  transition: all 0.3s ease-in-out;
  max-height: 700px;
  font-family: "JetBrains Mono", monospace;
  /* Scrollbar dizayni */
}
.main-t__terminal::-webkit-scrollbar {
  width: 8px;
}
.main-t__terminal::-webkit-scrollbar-track {
  background: #0d1117;
}
.main-t__terminal::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 10px;
  border: 2px solid #0d1117;
}
.main-t__terminal::-webkit-scrollbar-thumb:active {
  background: #484f58;
}
.main-t .max-terminal {
  height: 70vh !important;
}
.main-t .max-left-t {
  transform: scale(1.03) translateY(10px);
}
.main-t__right-meta-data {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
  max-width: 200px;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 8px;
  /* Scrollbar uslubi (Chrome, Safari, Edge uchun) */
}
.main-t__right-meta-data::-webkit-scrollbar {
  height: 2px;
}
.main-t__right-meta-data::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.main-t__right-meta-data::-webkit-scrollbar-thumb {
  background: #238636;
  border-radius: 10px;
}
.main-t__right-meta-data::-webkit-scrollbar-thumb:active {
  background: #2ea043;
}
.main-t__right-meta-data {
  /* Firefox uchun */
  scrollbar-width: thin;
  scrollbar-color: #238636 rgba(255, 255, 255, 0.05);
}
.main-t__current-line {
  display: block;
}
.main-t__prompt {
  color: rgb(92, 247, 92);
  word-break: break-all;
  float: left;
  margin-right: 10px;
}
.main-t__input {
  outline: none;
  word-break: break-all;
  font-size: 14px;
  padding: 0px 10px 0px 0px;
}
.main-t__input:hover {
  cursor: text;
}
.main-t__input:empty::before {
  content: "/";
  position: relative;
  top: -4px;
  display: inline-block;
  width: 50%;
  height: 1em;
  vertical-align: middle;
  animation: blink 0.9s infinite;
  margin-left: 2px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-t__terminal::-moz-selection {
  background-color: rgba(255, 255, 255, 0.606);
  color: rgb(70, 70, 70);
}
.main-t__terminal::selection {
  background-color: rgba(255, 255, 255, 0.606);
  color: rgb(70, 70, 70);
}
.main-t__history {
  color: #e6edf3 !important;
  font-size: 14px;
}
.main-t__header {
  position: relative;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
}
.main-t__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}
.main-t__red {
  background: #ff5f56;
}
.main-t__yellow {
  background: #ffbd2e;
}
.main-t__green {
  background: #27c93f;
}
.main-t__terminal-title {
  font-family: "Inter";
  color: #a0aec0;
  font-size: 12px;
  margin-left: 10px;
}
.main-t__right-cp {
  grid-row: 1/2;
  grid-column: 1/2;
}
.main-t__right-cpt {
  font-family: "Inter";
}
.main-t__right-cpt:active {
  text-decoration: underline;
  cursor: pointer;
}
.main-t__right-cpt {
  cursor: pointer;
  font-size: 13px;
  color: rgb(46, 85, 226);
  max-width: 100px;
}

@media (max-width: 1125px) {
  .main-t {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .main-t__left {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .main-t__right-l {
    width: 100%;
  }
  .main-t__right-l:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main-t__right-l:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    flex-grow: 1;
  }
  .main-t__right-boxes-meta {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .main-t__right-boxes-deg {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .main-t__right-act {
    grid-column: 1/2 !important;
    grid-row: 2/3 !important;
  }
  .main-t__right-nuc {
    grid-row: 3/4 !important;
    grid-column: 1/2 !important;
  }
  .main-t__right-cp {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main-t__right {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    margin: auto;
    justify-content: center;
    width: 100%;
    gap: 20px;
    max-width: none;
  }
  .main-t__left-top-tabs {
    font-size: 12px;
    padding: 5px;
  }
  .main-t__left-top {
    flex-wrap: wrap;
  }
  .main-t__terminal {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .main-t {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .main-t__terminal {
    font-size: 10px;
  }
  .main-t__right-l {
    width: 100%;
  }
  .main-t__right-l:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main-t__right-l:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .main-t__right-cp {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main-t__right-act {
    grid-column: 1/2 !important;
    grid-row: 2/3 !important;
  }
  .main-t__right-nuc {
    grid-row: 3/4 !important;
    grid-column: 1/2 !important;
  }
  .main-t__right-boxes-meta {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .main-t__right-boxes-deg {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .main-t__right {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main-t__left-top-tabs {
    font-size: 10px;
  }
  .main-t__left {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.lab-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  flex-grow: 1;
}

.lab-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  grid-row: 3/4;
  grid-column: 2/3;
  flex-grow: 1;
  min-height: 300px;
  height: 100%;
}

.dash-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0px;
  gap: 9px;
  max-width: 300px;
  min-width: 300px;
  overflow: auto;
  grid-row: 3/4;
  grid-column: 1/2;
  position: sticky;
  top: 0px;
  height: 100%;
  max-height: calc(100vh - 110px);
  z-index: 3;
  scroll-timeline: --page-scroll block;
}
.dash-side::-webkit-scrollbar {
  width: 5px; /* Juda ingichka */
}
.dash-side::-webkit-scrollbar-track {
  background: transparent; /* Yo'lak ko'rinmasin */
}
.dash-side::-webkit-scrollbar-thumb {
  background: #30363d; /* Sidebar border rangi bilan bir xil */
  border-radius: 10px;
}
.dash-side::-webkit-scrollbar-thumb:hover {
  background: #238636; /* AtgcHub yashil rangi - hover bo'lganda yonsin */
}
.dash-side__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  margin-bottom: 10px;
}
.dash-side__prtop {
  font-family: "Inter";
}
.dash-side__prtop:active {
  background-color: rgba(207, 207, 210, 0.082) !important;
  cursor: pointer;
}
.dash-side__prtop {
  font-size: 13px;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  width: 50%;
  opacity: 1 !important;
}
.dash-side__primg {
  border-radius: 50px;
}
.dash-side__repo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
.dash-side__repoform {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(71, 79, 88, 0.9176470588);
  border-radius: 6px;
}
.dash-side__reposr {
  font-family: "Inter";
  padding: 5px 4px 7px 4px;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(44, 52, 61, 0.2117647059);
  border-top: 1px solid rgba(12, 16, 26, 0.5176470588);
  background-color: transparent;
  font-size: 12px;
  width: 100%;
  background-color: rgba(44, 52, 61, 0.2117647059);
}
.dash-side__reposr::-moz-placeholder {
  color: rgba(243, 244, 246, 0.5725490196);
}
.dash-side__reposr::placeholder {
  color: rgba(243, 244, 246, 0.5725490196);
}
.dash-side__reposr:focus {
  border: 1px solid rgba(243, 244, 246, 0.5725490196);
}
.dash-side__replf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-grow: 1;
  justify-content: start;
}
.dash-side__repcir {
  width: 8px;
}
.dash-side__repcirsp:nth-child(1) {
  color: #ff9800;
}
.dash-side__repcirsp:nth-child(2) {
  color: #ff9800;
}
.dash-side__repos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  gap: 8px;
  width: 100%;
  justify-content: start;
  padding: 0px 15px;
}
.dash-side__repmimg {
  width: 25px;
  border-radius: 50px;
}
.dash-side__repmain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: start;
  gap: 8px;
  overflow: auto;
}
.dash-side__repmain::-webkit-scrollbar {
  display: none;
}
.dash-side__repli {
  font-family: "Inter";
  font-size: 13px;
  color: white;
}
.dash-side__repli:hover {
  color: rgb(46, 85, 226);
}
.dash-side__reponew {
  box-shadow: 0px 2px 5px 1px rgba(22, 22, 22, 0.74);
  border: none;
  padding: 6px 5px 0px 5px;
  font-size: 11px;
}
.dash-side__reponew:active {
  background-color: rgba(82, 180, 85, 0.7921568627);
}
.dash-side__reponew:hover {
  cursor: pointer;
}
.dash-side__reponew {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Inter";
  align-items: start;
  gap: 5px;
  border-radius: 5px;
  background-color: rgba(53, 150, 56, 0.7921568627);
  border: 1px solid rgba(48, 143, 51, 0.7921568627);
  color: white;
  opacity: 1;
}
.dash-side__repbtnsp {
  position: relative;
  top: -1px;
}
.dash-side__reposvg {
  position: relative;
  left: 1px;
  top: -2px;
  width: 16px;
}
.dash-side__repot {
  font-family: "Inter";
  font-size: 12px;
  color: white;
}
.dash-side__exit {
  position: absolute;
  top: 8px;
  right: 8px;
  color: rgba(243, 244, 246, 0.5725490196);
  width: 20px;
  display: none;
}
.dash-side__repo-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 9px;
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 40px 15px 10px 15px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.034);
  animation: show-shadow linear both;
  animation-timeline: --page-scroll;
  animation-range: 0px 50px;
}
@keyframes show-shadow {
  from {
    box-shadow: none;
    border-bottom: 1px solid transparent;
  }
  to {
    box-shadow: 0px 4px 20px 3px rgba(255, 255, 255, 0.062);
  }
}

@media (max-width: 1125px) {
  .dash-side {
    position: fixed;
    top: 0px;
    background-color: rgba(28, 35, 43, 0.9764705882);
    min-width: 0px;
    width: 90%;
    max-width: 290px;
    max-height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 8px 20px -3px rgb(13, 12, 12);
    backdrop-filter: blur(2px);
    overflow: auto;
  }
  .dash-side__exit {
    display: block;
  }
}
.dash-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1 !important;
  background-color: rgba(12, 16, 26, 0.5176470588);
  width: 100%;
  border-left: 1px solid rgba(71, 79, 88, 0.9176470588);
}

@media (max-width: 1125px) {
  .dash-main {
    border-left: none;
  }
}/*# sourceMappingURL=style.css.map */